@font-face
{
    font-family: 'Gotham-Book';  
    src: local('Gotham-Book'), url('css/Gotham-Book.otf') format('opentype');
}
/*@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli'), url('http://themes.googleusercontent.com/static/fonts/muli/v4/kU4XYdV4jtS72BIidPtqyw.woff') format('woff');
}
*/

html
{
    min-height: 100%;
    padding-bottom: 1px;
}

body
{
    background: #000;
    margin: 0 auto;
    width: 1024px;
    font-family: 'Gotham-Book', 'Arial';
}

#header-container
{
    float: left;
    width: 128px;
}

#header-container img
{
    margin: 13px 10px 0;
}

#main
{
    background: #FFF;
    float: left;
    width: 768px;
    min-height: 728px;   
}

#footer-container
{
    float: left;
    width: 128px;
    overflow: hidden;
}
#footer-container img
{
    margin: 65px 10px 0;
}

#encabezado{	
	margin-top: 50px;
	margin-bottom: 40px;
	width: 100%;
	display: block;	
	position: relative;
}

#encabezado header{
	margin: 0px 0px 40px 35px;		
}

#encabezado nav{	
	margin: 0px 56px 0px 28px;	
	height: 33px;		
}

#encabezado nav .izquierda{
	float: left;
}


#encabezado nav .derecha{
	float: right;	
	width: 170px
}

#encabezado .txt-proceso-pago{	
	color: #e4e4e4;
	font-size: 12px;
	height: 25px;
	display: block;
	text-decoration: none;
	text-align: center;		
}

#encabezado .txt-proceso-pago-select{	
	color: #C90002;
	font-size: 12px;
	height: 25px;
	display: block;	
	text-decoration: none;	
	text-align: center;
}

.proceso-pago{
	float: left;	
	margin-right: 32px;	
	width: 90px;			
}

.img-proceso-pago{	
	width: 31px;	
	height: 32px;
	margin-left: auto;
	margin-right: auto;					
}
.img-inicio{		
	background: url('../images/css-sprite_PasosCompra.jpg') no-repeat;	
	background-position: -14px -11px;		
}
.img-inicio-select{		
	background: url('../images/css-sprite_PasosCompra.jpg') no-repeat;
	background-position: -14px -42px;	
}

.img-pago-envio{
	background: url('../images/css-sprite_PasosCompra.jpg') no-repeat;
	background-position: -45px -11px;
}
.img-pago-envio-select{
	background: url('../images/css-sprite_PasosCompra.jpg') no-repeat;
	background-position: -45px -42px;
}

.img-facturacion{
	background: url('../images/css-sprite_PasosCompra.jpg') no-repeat;
	background-position: -76px -11px;
}
.img-facturacion-select{
	background: url('../images/css-sprite_PasosCompra.jpg') no-repeat;
	background-position: -76px -42px;
}

.img-compra{
	background: url('../images/css-sprite_PasosCompra.jpg') no-repeat;
	background-position: -107px -11px;
}
.img-compra-select{
	background: url('../images/css-sprite_PasosCompra.jpg') no-repeat;
	background-position: -107px -42px;
}

.necesita-ayuda{
	width: 170px;	
	height: 32px;			
}
.img-ayuda{
	background: url('../images/css-sprite_btnAyuda.jpg') no-repeat;
	background-position: -28px -14px;
}

#pleca-punteada{
	display: block;			
	height: 4px;
	margin-left: 40px;
	background: url('../images/css-sprite_Plecas.jpg') no-repeat;	
	background-position: 0px -49px;	
	clear: both;
}

#detalle-promocion{	
	position: relative;		
	display: block;
	margin: 5px 56px;	
	min-height: 75px;			
}

#detalle-promocion .img-producto-compra{	
	width: 60px;
	height: 75px;	
	background: url('../images/css-sprite_icons.jpg') no-repeat;	
	background-position: -13px -11px;
	float: left;	
}

#detalle-promocion .izquierda{
	float: left;
	padding-left: 15px;
}

#detalle-promocion .derecha{
	float: right;
}

.titulo-promo-rojo{
	color: #C90002;
	font-size: 14px;		
}

.titulo-promo-negro{
	color: #292929;
	font-size: 15px;	
	line-height: 20px;	
}

#descripcion-proceso{
	position: relative;		
	display: block;
	margin: 40px 56px 0px 59px;	
	clear: both;		
}

.titulo-proceso-img{	
	height: 10px;
	width: 6px;
	margin-top: 4px;		
	background: url('../images/css-sprite_icons.jpg') no-repeat;	
	background-position: -198px -11px;	
	float: left;		
}
.titulo-proceso{
	padding-left: 3px;	
	font-size: 16px;
	font-weight: bold;
	float: left;	
}

.contenedor{			
	height: auto;	
	background-color: #FFF;		
}
.contenedor-gris{
	background-color: #e5e5e5;
	margin: 5px 56px 0px 65px;	
	padding: 10px;
}


.label{
	color: #000;
	font-size: 12px;	
	text-align: right;
	font-weight: bold;		
}

.label_izq{
	color: #000;
	font-size: 12px;		
	font-weight: bold;
}
input .text{
	width: 200px;	
	
}

.instrucciones{
	font-size: 12px;
	color: #4e4e4e;
}

.instrucciones-proceso {
	padding-left: 66px;	
	font-size: 12px;
	color: #4e4e4e;
	//float: left;	
	clear: both;
}
a{
	color: #094C86;
	font-size: 12px;		
}
a: visited{
	color: #094C86;
}

.boton_login{
	border: none;
	height: 24px;
	width: 152px;
	background: url('../images/css-sprite_btnN1.jpg') no-repeat;	
	background-position: -13px -15px;
}

.boton_login_hover{
	background: url('../images/css-sprite_btnN1.jpg') no-repeat;	
	background-position: -13px -190px;
}

.boton_agregar_tc {
	
}

.boton_agregar_amex {
	
}

.nuevo-registro {
/*para las nuevas tarjetas, etc.*/
}
