.error{
	font-size: 12px;
	color: #FFF;
	border: none;
	font-weight: bold;   
	height: 19px;		
	width: 242px;
	background: transparent url('../images/css-sprite_Alertaalerta_01.png') no-repeat;
	background-position: -7px -5px;			             
    position: absolute;
    z-index: 2; 
    display: inline;
    padding: 2px 5px 0px 15px;            
    margin-top: 2px;
}
.error2{
	font-size: 12px;
	color: #FFF;
	border: none;
	font-weight: bold;   
	height: 30px;			
	width: 248px;
	background: transparent url('../images/css-sprite_Alertaalerta2_02.png') no-repeat;
	background-position: -7px -2px;			             
    position: absolute;
    z-index: 2; 
    display: inline;    
    padding-left: 15px;
}

.validation_message{
	font-size: 12px;	
	color: #CA0002;
	
}

.result_fail{
    background: none repeat scroll 0 0 #BC1010;
    border-radius: 20px 20px 20px 20px;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
}
.result_ok{
    background: none repeat scroll 0 0 #1EA700;
    border-radius: 20px 20px 20px 20px;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
}
