<!--h1>Login</h1-->

<div id="body">	
	<form id="form_registro_tc" action="<?php echo $this->config->item('base_url').'/index.php/login/'; ?>" method="POST">
		<!--span id="message" class="validation_message">
			<h3><?php if(isset($login_errores['user_login'])) echo ($login_errores['user_login']);?></h3>
		</span-->
		<div class="item_requerid">* Correo electr&oacute;nico:</div>
		<div class="form_requerid">
			<input type="text" name="email" id="email" size="40" maxlength="60" 
				value="<?php if(isset($_POST['email'])) echo htmlspecialchars($_POST['email']);?>"/>
			<span class="validation_message"> <?php if(isset($login_errores['email'])) echo ($login_errores['email']);?></span>
		</div>
		<div class="item_requerid">Iniciar sesi&oacute;n como:</div>
		<div class="form_requerid">			
			<ul>
				<li>
					<input type="radio" id="tipo_inicio" name="tipo_inicio" value="nuevo">
						Cliente nuevo</input>
				</li>
				<li>
					<input type="radio" id="tipo_inicio" name="tipo_inicio" value="registrado" 
						checked="<?php if(isset($_POST['tipo_inicio']) && $_POST['tipo_inicio'] == 'registrado') echo 'true'; ?>" >
						Cliente Registrado
					</input>
				</li>
			</ul>
		</div>
		<div class="item_requerid">* Contrase&ntilde;a:</div>
		<div class="form_requerid">
			<input type="password" name="password" id="password" size="20" 
				value="<?php if(isset($_POST['password'])) echo htmlspecialchars($_POST['password']);?>" />
			<span class="validation_message">
				<?php if(isset($login_errores['password'])) echo ($login_errores['password']);?>
			</span>
		</div>
		<div class="item_requerid">&nbsp;</div>
		<div class="form_requerid">
			<a href="#">&iquest;Olvidaste tu contrsae&ntilde;a?</a>
		</div>
		
		<div id="message" class="validation_message">
			<?php if(isset($login_errores['user_login'])) echo "<span class='result_fail'>". $login_errores['user_login']. "</span>";?>
		</div>
			
		<div class="form_button">
			<input type="submit" id="enviar" name="enviar" value="Iniciar sesi&oacute;n / Registrar"/>
			
		</div>
	</form>
</div>