
<div id="body">	
	<form id="form_recordar_password" action="<?php echo $this->config->item('base_url').'/index.php/password/enviar'; ?>" method="POST">
		<p>Para recuperar tu contrase&ntilde;a, escribe tu correo electronico. Te enviaremos un correo con las instrucciones que debes seguir</p>		
		<div>Correo electr&oacute;nico:		
			<input type="text" name="email" id="email" size="40" maxlength="60" 
				value="<?php if(isset($_POST['email'])) echo htmlspecialchars($_POST['email']);?>"/>				
			<input type="submit" id="recordar_password" value="Enviar instrucciones"/>			
			<span class="validation_message"><?php if(isset($login_errores['email'])) echo ($login_errores['email']);?></span>
		</div>
	</form>
</div>