<table>	
	<form id="form_registro_usuario" action="<?php echo $this->config->item('base_url').'/index.php/registro'; ?>" method="POST">
	<tr>
		<td colspan="2">
			<span id="message" class="validation_message">
			<?php if(isset($registro_errores['user_reg'])) echo ($registro_errores['user_reg']);?>
			</span>
		</td>
	</tr>	
	<tr>
		<td class="label"> 
			Nombre
		</td>
		<td>
			<input type="text" name="txt_nombre" id="txt_nombre" 
				value="<?php if(isset($_POST['txt_nombre'])) echo htmlspecialchars($_POST['txt_nombre']);?>"/>
			<span class="validation_message"><?php if(isset($registro_errores['txt_nombre'])) echo ($registro_errores['txt_nombre']);?></span>
		</td>
	</tr>	
	<tr>
		<td class="label">
			Apellido Paterno	
		</td>
		<td>
			<input type="text" name="txt_apellidoPaterno" id="txt_apellidoPaterno" 
				value="<?php if(isset($_POST['txt_apellidoPaterno'])) echo htmlspecialchars($_POST['txt_apellidoPaterno']);?>"/>
			<span class="validation_message"><?php if(isset($registro_errores['txt_apellidoPaterno'])) echo ($registro_errores['txt_apellidoPaterno']);?></span>
		</td>
	</tr>	
	<tr>
		<td class="label">
			Apellido Materno
		</td>
		<td>
			<input type="text" name="txt_apellidoMaterno" id="txt_apellidoMaterno" 
				value="<?php if(isset($_POST['txt_apellidoMaterno'])) echo htmlspecialchars($_POST['txt_apellidoMaterno']);?>"/>
			<span class="validation_message"><?php if(isset($registro_errores['txt_apellidoMaterno'])) echo ($registro_errores['txt_apellidoMaterno']);?></span>
		</td>
	</tr>							
	<tr>
		<td class="label">
			Correo electr&oacute;nico
		</td>
		<td>
			<input type="text" name="email" id="email" maxlength="60" 
				value="<?php if(isset($_POST['email'])) echo htmlspecialchars($_POST['email']);?>"/>
			<span class="validation_message"><?php if(isset($registro_errores['email'])) echo ($registro_errores['email']);?></span>
		</td>
	</tr>
	<tr>
		<td class="label">
			Contrase&ntilde;a
		</td>
		<td>
			<input type="password" name="password" id="password"  
				value="<?php if(isset($_POST['password'])) echo htmlspecialchars($_POST['password']);?>" />				
			<span class="validation_message">
				<?php if(isset($registro_errores['password'])) echo($registro_errores['password']);?>
			</span>
		</td>
	</tr>			
	<tr>
		<td>&nbsp;</td>
		<td>
			<div class="instrucciones">Debe incluir may&uacute;sculas, min&uacute;sculas y n&uacute;meros</div>
		</td>
	</tr>
	<tr>
		<td class="label">
			Confirmar Contrase&ntilde;a
		</td>
		<td>
			<input type="password" name="password_2" id="password_2"  
				value="<?php if(isset($_POST['password_2'])) echo htmlspecialchars($_POST['password_2']);?>" />
			<span class="validation_message">
				<?php if(isset($registro_errores['password_2'])) echo ($registro_errores['password_2']);?>								
			</span>
		</td>
	</tr>	
	<tr>
		<td>&nbsp;</td>
		<td><input type="submit" id="enviar" value="&nbsp;" class="crear_cuenta"/></td>
	</tr>			
	</form>
</table>