<div id='listar_promociones'>
		<?php		
		if(isset($sitios)){
			foreach($sitios as $sitio){
				echo "<br /><a href='sitio/".$sitio['id_sitioSi']."'>".$sitio['urlVc']."</a>";
			}	
		}
		if(isset($canales)){
			foreach($canales as $canal){
				echo "<br /><a href='".current_url()."/canal/".$canal['id_canalSi']."'>".$canal['descripcionVc']."</a>";
			}	
		}	
		
		if(isset($promociones)){
			foreach($promociones as $promocion){
				echo "<br /><a href='".current_url()."/promocion/".$promocion['id_promocionIn']."'>".$promocion['descripcionVc']."</a>";
			}	
		}					
		?>
</div>
