<div class="instrucciones_mensaje"><b>Nueva tarjeta</b></div>
<div class="contenedor-gris">
	<form id="form_registro_tc" action="<?php echo site_url('forma_pago/registrar/tc'); ?>" method="POST">
		<table width="100%">
			<tr>
				<td class="label">
					Banco Emisor
				</td>
				<td>
					<span class="alinear_izquierda">
						<select id="sel_tipo_tarjeta" name="sel_tipo_tarjeta">
							<?php
							if (isset($lista_tipo_tarjeta)) {
								$tipo_tarjeta_id = 0;
								if (isset($_POST['sel_tipo_tarjeta']))
									$tipo_tarjeta_id = $_POST['sel_tipo_tarjeta'];
								foreach($lista_tipo_tarjeta as $tipo_banco)
								{
									if ($tipo_tarjeta_id == $tipo_banco->id_tipo_tarjeta) {
										echo "<option value='".$tipo_banco->id_tipo_tarjeta."' selected='true'>".
											$tipo_banco->descripcion.
											"</option>";
									} else {
										echo "<option value='".$tipo_banco->id_tipo_tarjeta."'>".
											$tipo_banco->descripcion.
											"</option>";
									}
								}
							}
							?>
						</select>
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['sel_tipo_tarjeta'])) echo ($reg_errores['sel_tipo_tarjeta']);?></span>
				</td>
			</tr>
			<tr>
				<td class="label">
					N&uacute;mero de tarjeta
				</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_numeroTarjeta" id="txt_numeroTarjeta" maxlength="16" value="<?php if(isset($_POST['txt_numeroTarjeta'])) echo htmlspecialchars($_POST['txt_numeroTarjeta']);?>"/>
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['txt_numeroTarjeta'])) echo ($reg_errores['txt_numeroTarjeta']);?></span>
				</td>
			</tr>
			<tr>
				<td class="label">
					Nombre del Titular
				</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_nombre" id="txt_nombre" value="<?php if(isset($_POST['txt_nombre'])) echo htmlspecialchars($_POST['txt_nombre']);?>"/>
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['txt_nombre'])) echo ($reg_errores['txt_nombre']);?></span>
				</td>
			</tr>
			<tr>
				<td class="label">
					Apellido Paterno
				</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_apellidoPaterno" id="txt_apellidoPaterno" value="<?php if(isset($_POST['txt_apellidoPaterno'])) echo htmlspecialchars($_POST['txt_apellidoPaterno']);?>"/>
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['txt_apellidoPaterno'])) echo ($reg_errores['txt_apellidoPaterno']);?></span>
				</td>
			</tr>
			<tr>
				<td class="label">
					Apellido Materno
				</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_apellidoMaterno" id="txt_apellidoMaterno" value="<?php if(isset($_POST['txt_apellidoMaterno'])) echo htmlspecialchars($_POST['txt_apellidoMaterno']);?>"/>
					</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['txt_apellidoMaterno'])) echo ($reg_errores['txt_apellidoMaterno']);?></span>
				</td>
			</tr>
			<tr>
				<?php
					date_default_timezone_set("America/Mexico_City");
					$mes = isset($_POST['sel_mes_expira']) ? $_POST['sel_mes_expira'] : 0;
					$anio = isset($_POST['sel_anio_expira']) ? $_POST['sel_anio_expira'] : 0;
					$anio_actual = date('Y');
				?>
				<td class="label">
					Fecha de Expiraci&oacute;n
				</td>
				<td>
					<span class="alinear_izquierda">
						<select id="sel_mes_expira" name="sel_mes_expira">
						<?php 
							for($i = 1; $i <= 12; $i++) {
								$zero = ($i < 10) ? "0" : "";
								if ($i == $mes)
									echo "<option value='$zero$i' selected='true'>$zero$i</option>";
								else 
									echo "<option value='$zero$i'>$zero$i</option>";
							} 
						?>
						</select>
						<select id="sel_anio_expira" name="sel_anio_expira">
							<?php 
								for($i = $anio_actual; $i <= $anio_actual + 7; $i++) {	/*ajustar el periodo de años con constantes/globales en el config.*/
									if ($i == $anio) 
										echo "<option value='".$i."' selected='true'>$i</option>";
									else 
										echo "<option value='".$i."'>$i</option>";
								} 
							?>
						</select>
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['fecha_error'])) echo ($reg_errores['fecha_error']);?></span>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td class="label_izq">
					<input type="checkbox" id="chk_guardar" name="chk_guardar" checked="true" <?php if(isset($_POST['chk_guardar'])) echo 'checked="true"';?> />Guardar en mi cuenta para compra futuras
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td class="label_izq">
					<input type="checkbox" id="chk_default" name="chk_default" <?php if(isset($_POST['chk_default'])) echo 'checked="true"';?> />Usar para pago express
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div class="ast_medio">
						<span class="instrucciones_cursivas_der"><span class="asterisco">&nbsp;</span>Estos campos son obligatorios</span>
					</div>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>
					<input type="submit" name="guardar_tarjeta" id="guardar_tarjeta" value="&nbsp;" class="usar_nueva_tarjeta"/>
					<a href="<?php echo site_url('forma_pago/listar/');?>">Cancelar</a>
				</td>
			</tr>
		</table>
	</form>
</div>