<div class="instrucciones_mensaje">Debe ser la direcci&oacute;n que aprece en el estado de cuenta de tu tarjeta.</div>
<div class="contenedor-gris">
	<?php
		if (isset($tarjeta_amex->consecutivo_cmsSi)){
			$consecutivo = $tarjeta_amex->consecutivo_cmsSi;			 
		} else if (isset($tarjeta_amex->id_TCSi)){
			$consecutivo = $tarjeta_amex->id_TCSi;	//siempre debe ser 0
		} 
	?>
	<form id="form_editar_amex" action="<?php echo site_url('forma_pago/editar/amex/'.$consecutivo); ?>" method="POST">
		<table width="100%">
			<tr>
				<td class="label">
					Calle y n&uacute;mero
				</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_calle" id="txt_calle" size="40" value="<?php if(isset($_POST['txt_calle'])) echo htmlspecialchars($_POST['txt_calle']); else if (isset($tarjeta_amex->calle)) echo $tarjeta_amex->calle; ?>"/>
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['txt_calle'])) echo ($reg_errores['txt_calle']);?></span>
				</td>
			</tr>	
			<tr>
				<td class="label">
					C&oacute;digo postal
				</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_cp" id="txt_cp" maxlength="5" size="5" value="<?php if(isset($_POST['txt_cp'])) echo htmlspecialchars($_POST['txt_cp']); else if (isset($tarjeta_amex->codigo_postal)) echo $tarjeta_amex->codigo_postal; ?>"/>
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['txt_cp'])) echo ($reg_errores['txt_cp']);?></span>
				</td>
			</tr>
			<tr>
				<td class="label">
					Pa&iacute;s
				</td>
				<td>
					<span class="alinear_izquierda">
						<select id="sel_pais" name="sel_pais">
							<?php
							if (isset($lista_paises_amex)) {
								$id_pais = "MEX";				//Mexico por default
								if (isset($tarjeta_amex->pais))
									$id_pais = $tarjeta_amex->pais;
								if (isset($_POST['sel_pais']))	//pais seleccionado para la captura
									$id_pais = $_POST['sel_pais'];
									
								foreach($lista_paises_amex->result() as $pais)
								{
									if ($id_pais == $pais->id_pais) {
										echo "<option value='".$pais->id_pais."' selected='true'>".
											$pais->pais.
											"</option>";
									} else {
										echo "<option value='".$pais->id_pais."'>".
											$pais->pais.
											"</option>";
									}
								}
							}
							?>
						</select>
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['sel_pais'])) echo ($reg_errores['sel_pais']);?></span>
				</td>
			</tr>
			<tr>
				<td class="label">
					Estado
				</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_estado" id="txt_estado" size="30" value="<?php if(isset($_POST['txt_estado'])) echo htmlspecialchars($_POST['txt_estado']); else if (isset($tarjeta_amex->estado)) echo $tarjeta_amex->estado; ?>"/>
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['txt_estado'])) echo ($reg_errores['txt_estado']);?></span>
				</td>
			</tr>
			<tr>
				<td class="label">
					Ciudad o Municipio
				</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_ciudad" id="txt_ciudad" size="30" value="<?php if(isset($_POST['txt_ciudad'])) echo htmlspecialchars($_POST['txt_ciudad']); else if (isset($tarjeta_amex->ciudad)) echo $tarjeta_amex->ciudad; ?>"/>
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['txt_ciudad'])) echo ($reg_errores['txt_ciudad']);?></span>
				</td>
			</tr>
			<tr>
				<td class="label">
					Email
				</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_email" id="txt_email" size="30" value="<?php if(isset($_POST['txt_email'])) echo htmlspecialchars($_POST['txt_email']); else if (isset($tarjeta_amex->mail)) echo $tarjeta_amex->mail; ?>"/>
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['txt_email'])) echo ($reg_errores['txt_email']);?></span>
				</td>
			</tr>
			<tr>
				<td class="label">
					Tel&eacute;fono
				</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_telefono" id="txt_telefono" size="30" value="<?php if(isset($_POST['txt_telefono'])) echo htmlspecialchars($_POST['txt_telefono']); else if (isset($tarjeta_amex->telefono)) echo $tarjeta_amex->telefono; ?>"/>
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['txt_telefono'])) echo ($reg_errores['txt_telefono']);?></span>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div class="ast_medio">
						<span class="instrucciones_cursivas_der"><span class="asterisco">&nbsp;</span>Estos campos son obligatorios</span>
					</div>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" id="guardar_amex" name="guardar_amex" value="Usar esta dirección" class="boton_agregar_amex"/></td>
			</tr>
		</table>
		<div><?php if(isset($msg_actualizacion)) { echo $msg_actualizacion; } ?></div>
	</form>
</div>
