<h1>Tarjetas guardadas</h1>

<div id="body">
	<div id="list_headers">
		<div class="column_header">Tarjeta</div>
		<div class="column_header">Nombre</div>
		<div class="column_header">Expira</div>
		<div class="column_header">C&oacute;digo de seguridad</div>
		<div class="column_header">&nbsp;</div>
		<div class="column_header">&nbsp;</div>
	</div>
	<div id="list_results">
		<ul>
			<li> Banamex </li> 
			<li> Arlette Espinosa </li>
			<li> 08/2012 </li>
			<li> -- </li>
			<li><a href="#" title="editar">editar</a></li>
			<li><a href="#" title="eliminar">eliminar</a></li>
		</ul>			
	</div>
</div>