<section id="descripcion-proceso">
	<div class="titulo-proceso-img">&nbsp;		
	</div>			
	<div class="titulo-proceso">
		Otras formas de pago
	</div>
</section>
<div id="pleca-punteada"></div>
<div class="contenedor-gris tam75">
<form id="form_forma_pago" action="<?php echo site_url("forma_pago/seleccionar/deposito"); ?>" method="POST">
	<div class="img-deposito">&nbsp;</div>
	<div class="deposito-izquierda">
		<div class="titulo-promo-rojo">
			<input type="radio" id="deposito_bancario" name="deposito_bancario" checked="true"/>
			Dep&oacute;sito Bancario			
			<h3> <?php if(isset($mensaje)) { echo $mensaje; } ?></h3>
		</div>
		<div class="item-lista">
			Para pagar con dep&oacute;sito bancario deber&aacute;s depositar a la cuenta XXX de Bancomer con el n&uacute;mero de referencia xxxx y enviar la ficha de dep&oacute;sito a ...	
		</div>
	</div>
	<div class="deposito-derecha">
		<input type="submit" id="deposito_bancario" name="deposito_bancario" value="&nbsp;" class="pagar-deposito"/>
	</div>
</form>		
</div>