<div id="forma_pago">
	<?php
		echo $tc->descripcionVc. " con terminación " .substr($tc->terminacion_tarjetaVc, strlen($tc->terminacion_tarjetaVc) - 4);			
	?>
	<span><a href="<?php echo site_url('forma_pago/editar/tc/'.$tc->id_TCSi);?>">Cambiar</a></span>	
	<div id="tarjeta" >C&oacute;digo de seguridad:	
		<input type="text" name="txt_codigo" id="txt_codigo" maxlength="5" size="5"
				value="<?php if(isset($_POST['txt_codigo'])) echo htmlspecialchars($_POST['txt_codigo']);?>"/>
		<span class="validation_message"><?php if(isset($reg_errores['txt_codigo'])) echo ($reg_errores['txt_codigo']);?></span>
	</div>			
</div>