<div id="detalle_facturacion">
	<p>
		<?php 
		
		if ($dir_facturacion['company']) {
			echo "<strong>Raz&oacute;n Social: </strong>".
				$dir_facturacion['company']."<br/>".				
				"<strong>Enviar a : </strong>". $dir_facturacion['email']. "<br/>";
		} 
		?>
		<h4>Direcci&oacute;n de Facturac&oacute;n</h4>		
		<?php 
		/*
			echo $dir_facturacion['address1']. " " .$dir_facturacion['address2']. " " . (($dir_facturacion['address4'] != "") ? ", Int. ".$dir_facturacion['address4'] : "") . "<br/>";
			echo 
				$dir_facturacion['zip']."<br/>".
			 	$dir_facturacion['city']."<br/>".
			 	$dir_facturacion['state']."<br/>".
			 	$dir_facturacion['codigo_paisVc'];
			 	*/
		?>
		<span><a href="<?php echo site_url('direccion_facturacion/editar/')?>">Cambiar</a></span>
	</p>
</div>