<!--h1>Orden de Compra de <?php echo $this->session->userdata('username');?></h1-->
<div class="contenedor-gris">
	<div id="list_results">				
		<?php 
		//Si se solicitó pago con TC
		if (isset($resultado)) {
			/*
			echo "<pre>";
			print_r($resultado);
			echo "</pre>";	
			*/
			echo "<p>Número de Transacción: " . $resultado->id_transaccionNu . "</p>";
			echo "<p>Respuesta del Banco: " . $resultado->respuesta_banco . "</p>";
			//echo "<p>Código de Autorización: " . $resultado->codigo_autorizacion . "</p>";
			echo "<p>Mensaje: " . $resultado->mensaje . "</p>";
		?>	
		
						
		<?php
		} else if (isset($deposito)) {
			//En caso contrario si se hizo el pago con depósito
		?>
			<div class="instrucciones">
				Para completar tu orden, sigue los pasos que enlistamos abajo:<br /><br />
				Realiza un depósito por el total de la orden acudiendo a cualquier sucursal BBVA Bancomer, o realizando una transferencia electrónica, por medio del convenio CIE 57351 o directamente a la cuenta que aparece abajo.  Es importante que indiques tu nombre y número telefónico como referencia. La cuenta de depósito es la siguiente:<br /><br />
				Banco: BBVA Bancomer<br />
				Beneficiario: Expansión S.A. de C.V.<br />
				Cuenta CLABE:  012180004465210022<br />
				Cuenta:  0446521002<br />
				Sucursal: 1820<br />
				Plaza: 001<br /><br /> 
				Una vez realizado el depósito por favor confirma tu pago llamando al teléfono (55) 5061 2413 o escribiendo al correo pagosmercadotecnia@expansion.com.mx . Si confirmas por correo, no olvides indicar tu nombre y el producto que adquieres, y enviar escaneada tu ficha de depósito.<br /><br /> 
				Recibirás un correo electrónico confirmando que tu compra ha sido completada.
			</div>							
		
		<?php
		}
		?>
		<?php
			if($url_back['estatus']!=0){
		?>
		<p>
		<form name="envio_result" action="<?php echo $url_back['urlback'];?>" method="POST" accept-charset="UTF8">
			<input type="hidden" name="cadena_comprobacion" value="<?php echo $url_back['cadena_comprobacion']; ?>" />
			<textarea name="datos_login" style="display: none"><?php echo $url_back['datos_login']; ?></textarea>							
			<input type="submit" name="Continuar" value="Continuar"/>
		</form>
		</p>
		<script type="text/javascript">
			//setTimeout('document.envio_result.submit();', 3000);
		</script>
		<?php
			} 
			else{
				echo anchor('orden_compra', 'intentar Nuevamente');
			}
		?>
	</div>
</div>
