<!--h1>Orden de Compra de <?php echo $this->session->userdata('username');?></h1-->
<div class="contenedor-gris">
	<div id="list_results">

		<h4>Respuesta de Solicitud de cobro</h4>
		<?php 
		//Si se solicitó pago con TC
		if (isset($resultado)) {
			/*
			echo "<pre>";
			print_r($resultado);
			echo "</pre>";	
			*/
			echo "<p>Número de Transacción: " . $resultado->id_transaccionNu . "</p>";
			echo "<p>Respuesta del Banco: " . $resultado->respuesta_banco . "</p>";
			//echo "<p>Código de Autorización: " . $resultado->codigo_autorizacion . "</p>";
			echo "<p>Mensaje: " . $resultado->mensaje . "</p>";
		?>	
		
						
		<?php
		} else if (isset($deposito)) {
			//En caso contrario si se hizo el pago con depósito
		?>
			<h5>
				Se te ha enviado un correo con las instrucciones para que realices el pago a trav&eacute;s del depósito bancario.
			</h5>
		
		<?php
		}
		?>
		<?php
			if($url_back['estatus']!=0){
		?>
		<form name="envio_result" action="<?php echo $url_back['urlback'];?>" method="POST" accept-charset="UTF8">
			<input type="hidden" name="cadena_comprobacion" value="<?php echo $url_back['cadena_comprobacion']; ?>" />
			<textarea name="datos_login" style="display: none"><?php echo $url_back['datos_login']; ?></textarea>							
			<input type="submit" name="Continuar" value="Continuar"/>
		</form>
		<script type="text/javascript">
			//setTimeout('document.envio_result.submit();', 3000);
		</script>
		<?php
			} 
			else{
				echo anchor('orden_compra', 'intentar Nuevamente');
			}
		?>
	</div>
</div>
