<div class="instrucciones_mensaje"><b>Nueva direcci&oacute;n</b></div>
<div class="contenedor-gris">
	<form id="form_registro_direccion_envio" action="<?php echo site_url('direccion_envio/registrar/');?>" method="POST">
		<table>
			<tr>
				<td class="label">Calle</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_calle" id="txt_calle" size="30" value="<?php if(isset($_POST['txt_calle'])) echo htmlspecialchars($_POST['txt_calle']);?>"/>
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['txt_calle'])) echo ($reg_errores['txt_calle']);?></span>
				</td>
			</tr>
			<tr>
				<td class="label">N&uacute;mero exterior</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_numero" id="txt_numero" maxlength="5" size="5" value="<?php if(isset($_POST['txt_numero'])) echo htmlspecialchars($_POST['txt_numero']);?>" />
					</span>
					<span class="asterisco">&nbsp;</span>		
					<span class="error_mensaje"><?php if(isset($reg_errores['txt_numero'])) echo ($reg_errores['txt_numero']);?></span>
				</td>
			</tr>
			<tr>
				<td class="label">N&uacute;mero interior</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_num_int" id="txt_num_int" maxlength="5" size="5" value="<?php if(isset($_POST['txt_num_int'])) echo htmlspecialchars($_POST['txt_num_int']);?>"/>
					</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['txt_num_int'])) echo ($reg_errores['txt_num_int']);?></span>
				</td>
			</tr>
			<tr>
				<td class="label" valign="top" rowspan="2"> C&oacute;digo postal</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_cp" id="txt_cp" maxlength="5" size="5" value="<?php if(isset($_POST['txt_cp'])) echo htmlspecialchars($_POST['txt_cp']);?>" />
					</span>
					<span><input type="button" id="btn_cp" name="btn_cp" value="&nbsp;" class="llenar_cp"/></span>					
					<span class="instrucciones"><?php if(isset($reg_errores['txt_cp'])) echo ($reg_errores['txt_cp']);?></span>
				</td>
			</tr>
			<tr>
				<td>
					<div>
						<span class="instrucciones_cursivas">(Ingresa tu c&oacute;digo postal y da clkic en llenar para completar los datos de Colonia, Ciudad y Estado)</span>
					</div>
				</td>
			</tr>
			<tr>
				<td class="label"> Pa&iacute;s</td>
				<td>
					<span class="alinear_izquierda">
						<select id="sel_pais" name="sel_pais">
							<?php
							if (isset($lista_paises_think)) {
								$id_pais = "MX";				//Mexico por default
								if (isset($_POST['sel_pais']))	//pais seleccionado para la captura
									$id_pais = $_POST['sel_pais'];
									
								foreach($lista_paises_think->result() as $pais)
								{
									if ($id_pais == $pais->id_pais) {
										echo "<option value='".$pais->id_pais."' selected='true'>".
											$pais->pais.
											"</option>";
									} else {
										echo "<option value='".$pais->id_pais."'>".
											$pais->pais.
											"</option>";
									}
								}
							}
							?>
						</select>
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['sel_pais'])) echo ($reg_errores['sel_pais']);?></span>
				</td>
			</tr>
			<tr class="div_otro_pais">
				<td class="label">Estado</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_estado" id="txt_estado" size="30" value="<?php if(isset($_POST['txt_estado'])) echo htmlspecialchars($_POST['txt_estado']);?>"/>
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['txt_estado'])) echo ($reg_errores['txt_estado']);?></span>
				</td>
			</tr>
			<tr class="div_otro_pais">
				<td class="label">Ciudad o municipio</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_ciudad" id="txt_ciudad" size="30" value="<?php if(isset($_POST['txt_ciudad'])) echo htmlspecialchars($_POST['txt_ciudad']);?>"/>
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['txt_ciudad'])) echo ($reg_errores['txt_ciudad']);?></span>
				</td>
			</tr>
			<tr class="div_otro_pais">
				<td class="label">Colonia</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_colonia" id="txt_colonia" size="30" value="<?php if(isset($_POST['txt_colonia'])) echo htmlspecialchars($_POST['txt_colonia']);?>"/>
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['txt_colonia'])) echo ($reg_errores['txt_colonia']);?></span>
				</td>
			</tr>
			
			<tr class="div_mexico">
				<td class="label">Estado</td>
				<td>
					<span class="alinear_izquierda">
						<select id="sel_estados" name="sel_estados">
							<option value="">Seleccionar</option>
							<?php
							if (isset($lista_estados_sepomex)) {
								$clave_estado = "";
								if (isset($_POST['sel_estados']))
									$clave_estado = $_POST['sel_estados'];
								foreach($lista_estados_sepomex as $estado)
								{
									if ($clave_estado == $estado->clave_estado) {
										echo "<option value='".$estado->clave_estado."' selected='true'>".
											$estado->estado.
											"</option>";
									} else {
										echo "<option value='".$estado->clave_estado."'>".
											$estado->estado.
											"</option>";
									}
								}
							}
							?>
						</select>
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['sel_estados'])) echo ($reg_errores['sel_estados']);?></span>
				</td>
			</tr>
			<tr class="div_mexico">
				<td class="label">Ciudad o municipio</td>
				<td>
					<span class="alinear_izquierda">
						<select id="sel_ciudades" name="sel_ciudades">
							<option value="">Seleccionar</option>
							<?php
							if (isset($lista_ciudades_sepomex)) {
								$clave_ciudad = "";
								if (isset($_POST['sel_ciudades']))
									$clave_ciudad = $_POST['sel_ciudades'];
								
								//echo gettype($lista_ciudades_sepomex) ==   'object';
								//excepcion del DF
								if (gettype($lista_ciudades_sepomex) == 'object') {
									echo "<option value='". $lista_ciudades_sepomex->clave_ciudad. "' selected='true'>".
											$lista_ciudades_sepomex->ciudad.
											"</option>";
								} else {
									foreach($lista_ciudades_sepomex as $ciudad)
									{
										if ($clave_ciudad == $ciudad->clave_ciudad) {
											echo "<option value='". $ciudad->clave_ciudad. "' selected='true'>".
												$ciudad->ciudad.
												"</option>";
										} else if ($ciudad->ciudad != ''){
											echo "<option value='". $ciudad->clave_ciudad. "'>".
												$ciudad->ciudad.
												"</option>";
										}
									}
								}
							}
							?>
						</select>
					</span>	
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['sel_ciudades'])) echo ($reg_errores['sel_ciudades']);?></span>
				</td>
			</tr>
			<tr class="div_mexico">
				<td class="label">Colonia</td>
				<td>
					<span class="alinear_izquierda">
						<select id="sel_colonias" name="sel_colonias">
							<option value="">Seleccionar</option>
							<?php
							if (isset($lista_colonias_sepomex)) {
								$id_ciudad = "";
								if (isset($_POST['sel_colonias']))
									$id_colonia = $_POST['sel_colonias'];
								foreach($lista_colonias_sepomex as $colonia)
								{
									if ($id_colonia == $colonia->colonia) {
										echo "<option value='".$colonia->colonia."' selected='true'>".
											$colonia->colonia.
											"</option>";
									} else {
										echo "<option value='".$colonia->colonia."'>".
											$colonia->colonia.
											"</option>";
									}
								}
							}
							?>
						</select>
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['sel_colonias'])) echo ($reg_errores['sel_colonias']);?></span>
				</td>
			</tr>
			<tr>
				<td class="label">Tel&eacute;fono</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_telefono" id="txt_telefono" size="30" value="<?php if(isset($_POST['txt_telefono'])) echo htmlspecialchars($_POST['txt_telefono']);?>"/>
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['txt_telefono'])) echo ($reg_errores['txt_telefono']);?></span>
				</td>
			</tr>
			<tr>
				<td class="label">Referencia</td>
				<td>
					<textarea type="text" name="txt_referencia" id="txt_referencia" cols="30" ><?php if(isset($_POST['txt_referencia'])) echo htmlspecialchars($_POST['txt_referencia']);?></textarea>
					<span class="error_mensaje"><?php if(isset($reg_errores['txt_referencia'])) echo ($reg_errores['txt_referencia']);?></span>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td class="label_izq">
					<input type="checkbox" name="chk_guardar" id="chk_guardar" checked="true" <?php if(isset($_POST['chk_guardar'])) echo 'checked="true"';?> />Guardar para compra futuras
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td class="label_izq">
					<input type="checkbox" name="chk_default" id="chk_default" <?php if(isset($_POST['chk_default'])) echo 'checked="true"';?> />Usar como direcci&oacute;n para pago express
				</td>
				
			</tr>
			<tr>
				<td colspan="2"><div><span class="instrucciones_cursivas_der"><span class="asterisco">&nbsp;</span>Estos campos son obligatorios</span></div></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>
					<input type="submit" id="guardar_direccion" name="guardar_direccion" value="&nbsp;" class="usar_nueva_direccion"/>
					<a href="<?php echo site_url('direccion_envio/listar/');?>">Cancelar</a>
				</td>
			</tr>
		</table>
	</form>
</div>