<div id="tc_amex">
	<h1>Editar Informaci&oacute;n de la Direcci&oacute;n</h1>
	
	<div id="body">
		<form id="form_editar_direccion_envio" action="<?php echo base_url().'/index.php/direccion_envio/editar/'.$direccion->id_consecutivoSi; ?>" method="POST">
			<div class="item_requerid">Calle:</div>
			<div class="form_requerid">
				<input type="text" name="txt_calle" id="txt_calle" size="30"
					value="<?php if(isset($_POST['txt_calle'])) echo htmlspecialchars($_POST['txt_calle']);
						else echo $direccion->address1; ?>"/>
				<span class="validation_message">&nbsp;*<?php if(isset($reg_errores['txt_calle'])) echo ($reg_errores['txt_calle']);?></span>
			</div>
			<div class="item_requerid">N&uacute;mero exterior:</div>
			<div class="form_requerid">
				<input type="text" name="txt_numero" id="txt_numero" maxlength="5" size="5" 
					value="<?php if(isset($_POST['txt_numero'])) echo htmlspecialchars($_POST['txt_numero']);
						else echo $direccion->address2; ?>"/>		
				<span class="validation_message">&nbsp;*<?php if(isset($reg_errores['txt_numero'])) echo ($reg_errores['txt_numero']);?></span>
			</div>
			<div class="item_requerid">N&uacute;mero interior:</div>
			<div class="form_requerid">
				<input type="text" name="txt_num_int" id="txt_num_int" maxlength="5" size="5"
					value="<?php if(isset($_POST['txt_num_int'])) echo htmlspecialchars($_POST['txt_num_int']);
						else if (isset($direccion->address4)) echo $direccion->address4; ?>"/>
				<span class="validation_message"><?php if(isset($reg_errores['txt_num_int'])) echo ($reg_errores['txt_num_int']);?></span>
			</div>
			<div class="item_requerid">C&oacute;digo postal:</div>
			<div class="form_requerid">
				<input type="text" name="txt_cp" id="txt_cp" maxlength="5" size="5"
					value="<?php if(isset($_POST['txt_cp'])) echo htmlspecialchars($_POST['txt_cp']);
						else echo $direccion->zip; ?>"/>
					<span><input type="button" id="btn_cp" name="btn_cp" value="Llenar"/></span>
				<span class="validation_message">&nbsp;*<?php if(isset($reg_errores['txt_cp'])) echo ($reg_errores['txt_cp']);?></span>
				<div>
					<small>Ingresa tu c&oacute;digo postay y presiona "llenar" para acompletar los datos de Colonia, Ciudad y Estado</small>
				</div>
			</div>
			<div class="item_requerid">Pa&iacute;s:</div>
			<div class="form_requerid">
				<select id="sel_pais" name="sel_pais">
					<?php
					if (isset($lista_paises_think)) {
						$id_pais = "MX";				//Mexico por default
						$id_pais = $direccion->codigo_paisVc;
						if (isset($_POST['sel_pais']))	//pais seleccionado para la captura
							$id_pais = $_POST['sel_pais'];
							
						foreach($lista_paises_think->result() as $pais)
						{
							if ($id_pais == $pais->id_pais) {
								echo "<option value='".$pais->id_pais."' selected='true'>".
									$pais->pais.
									"</option>";
							} else {
								echo "<option value='".$pais->id_pais."'>".
									$pais->pais.
									"</option>";
							}
						}
					}
					?>
				</select>
				
				<span class="validation_message"><?php if(isset($reg_errores['sel_pais'])) echo ($reg_errores['sel_pais']);?></span>
			</div>
			<div id="div_otro_pais">
				<div class="item_requerid">Estado:</div>
				<div class="form_requerid">
					<input type="text" name="txt_estado" id="txt_estado" size="30"
						value="<?php if(isset($_POST['txt_estado'])) echo htmlspecialchars($_POST['txt_estado']);
								else echo $direccion->state; ?>"/>
					<span class="validation_message">&nbsp;*<?php if(isset($reg_errores['txt_estado'])) echo ($reg_errores['txt_estado']);?></span>
				</div>			
				<div class="item_requerid">Ciudad:</div>
				<div class="form_requerid">
					<input type="text" name="txt_ciudad" id="txt_ciudad" size="30"
						value="<?php if(isset($_POST['txt_ciudad'])) echo htmlspecialchars($_POST['txt_ciudad']);
								else echo $direccion->city; ?>"/>
					<span class="validation_message">&nbsp;*<?php if(isset($reg_errores['txt_ciudad'])) echo ($reg_errores['txt_ciudad']);?></span>
				</div>
				<div class="item_requerid">Colonia:</div>
				<div class="form_requerid">
					<input type="text" name="txt_colonia" id="txt_colonia" size="30"
						value="<?php if(isset($_POST['txt_colonia'])) echo htmlspecialchars($_POST['txt_colonia']);
								else echo $direccion->address3; ?>"/>
					<span class="validation_message">&nbsp;*<?php if(isset($reg_errores['txt_colonia'])) echo ($reg_errores['txt_colonia']);?></span>
				</div>
			</div>
			<div id="div_mexico">
				<div class="item_requerid">Estado:</div>
				<div class="form_requerid">
					<select id="sel_estados" name="sel_estados">
						<option value="">Seleccionar</option>
						<?php
						if (isset($lista_estados_sepomex)) {
							//$clave_estado = "";
							$clave_estado = $direccion->state;
							if (isset($_POST['sel_estados']))
								$clave_estado = $_POST['sel_estados'];
							foreach($lista_estados_sepomex as $estado)
							{
								if ($clave_estado == $estado->clave_estado) {
									echo "<option value='".$estado->clave_estado."' selected='true'>".
										$estado->estado.
										"</option>";
								} else {
									echo "<option value='".$estado->clave_estado."'>".
										$estado->estado.
										"</option>";
								}
							}
						}
						?>
					</select>
					<span class="validation_message">&nbsp;*<?php if(isset($reg_errores['sel_estados'])) echo ($reg_errores['sel_estados']);?></span>
				</div>
				
				<div class="item_requerid">Ciudad:</div>
				<div class="form_requerid">
					<select id="sel_ciudades" name="sel_ciudades">
						<option value="">Seleccionar</option>
						<?php
						if (isset($lista_ciudades_sepomex)) {
							//$clave_ciudad = "";
							$clave_ciudad = $direccion->city;
							if (isset($_POST['sel_ciudades']))
								$clave_ciudad = $_POST['sel_ciudades'];
							
							//echo gettype($lista_ciudades_sepomex) ==   'object';
							//excepcion del DF
							if (gettype($lista_ciudades_sepomex) == 'object') {
								echo "<option value='". $lista_ciudades_sepomex->clave_ciudad. "' selected='true'>".
										$lista_ciudades_sepomex->ciudad.
										"</option>";
							} else {
								foreach($lista_ciudades_sepomex as $ciudad)
								{
									if ($clave_ciudad == $ciudad->clave_ciudad) {
										echo "<option value='". $ciudad->clave_ciudad. "' selected='true'>".
											$ciudad->ciudad.
											"</option>";
									} else if ($ciudad->ciudad != ''){
										echo "<option value='". $ciudad->clave_ciudad. "'>".
											$ciudad->ciudad.
											"</option>";
									}
								}
							}
						}
						?>
					</select>
					<span class="validation_message">&nbsp;*<?php if(isset($reg_errores['sel_ciudades'])) echo ($reg_errores['sel_ciudades']);?></span>
				</div>
				<div class="item_requerid">Colonia:</div>
				<div class="form_requerid">
					<select id="sel_colonias" name="sel_colonias">
						<option value="">Seleccionar</option>
						<?php
						if (isset($lista_colonias_sepomex)) {
							//$clave_colonia = "";
							$clave_colonia = $direccion->address3;
							if (isset($_POST['sel_colonias']))
								$clave_colonia = $_POST['sel_colonias'];
							foreach($lista_colonias_sepomex as $colonia)
							{
								if ($clave_colonia == $colonia->colonia) {
									echo "<option value='".$colonia->colonia."' selected='true'>".
										$colonia->colonia.
										"</option>";
								} else {
									echo "<option value='".$colonia->colonia."'>".
										$colonia->colonia.
										"</option>";
								}
							}
						}
						?>
					</select>
					<span class="validation_message">&nbsp;*<?php if(isset($reg_errores['sel_colonias'])) echo ($reg_errores['sel_colonias']);?></span>
				</div>
			</div>
			<div class="item_requerid">Tel&eacute;fono:</div>
			<div class="form_requerid">
				<input type="text" name="txt_telefono" id="txt_telefono" size="30"
					value="<?php if (isset($_POST['txt_telefono'])) echo htmlspecialchars($_POST['txt_telefono']);
						else echo $direccion->phone; ?>" />
				<span class="validation_message">&nbsp;*<?php if(isset($reg_errores['txt_telefono'])) echo ($reg_errores['txt_telefono']);?></span>
			</div>
			<div class="item_requerid">Email:</div>
			<div class="form_requerid">
				<input type="text" name="txt_email" id="txt_email" size="30"
					value="<?php if(isset($_POST['txt_email'])) echo htmlspecialchars($_POST['txt_email']);
						else echo $direccion->email; ?>" />
				<span class="validation_message">&nbsp;*<?php if(isset($reg_errores['txt_email'])) echo ($reg_errores['txt_email']);?></span>
			</div>
			<div class="item_requerid">Referencia:</div>
			<div class="form_requerid">
				<textarea type="text" name="txt_referencia" id="txt_referencia" cols="30" ><?php 
					if(isset($_POST['txt_referencia'])) echo htmlspecialchars($_POST['txt_referencia']);
						else if (isset($direccion->referenciaVc)) echo htmlspecialchars($direccion->referenciaVc); ?>
				</textarea>
				<span class="validation_message"><?php if(isset($reg_errores['txt_referencia'])) echo ($reg_errores['txt_referencia']);?></span>
			</div>	
			<div class="item_requerid">&nbsp;</div>
			<div class="item_requerid">&nbsp;</div>
			<div class="form_requerid">
				<input type="checkbox" name="chk_default" id="chk_default" 
				<?php if(isset($_POST['chk_default'])) echo 'checked="true"';?> />Usar como direcci&oacute;n predeterminada
			</div>
		
			<div><?php if(isset($msg_actualizacion)) { echo $msg_actualizacion; } ?></div>
			<div class="form_button">
				<input type="submit" id="guardar_tarjeta" name="guardar_tarjeta" value="Actualizar direccióm"/>
				<a href="<?php echo $this->config->item('base_url'); ?>/index.php/direccion_envio/listar/">Regresar a la Lista</a>
			</div>			
		</form>
	</div>
</div>