<script>
	var id_ant=0;
	function cambia_boton(id){				
		if(document.getElementById(id_ant)){
			document.getElementById(id_ant).innerHTML='';
			document.getElementById('div'+id_ant).className='radio_no_selected';
			document.getElementById('radio'+id_ant).checked='';  									 			
		}				
		document.getElementById(id).innerHTML='<input type="submit" id="usar_direccion" name="usar_direccion" value="&nbsp;" class="usar_nueva_direccion"/>';
		document.getElementById('div'+id).className='radio_selected';
		document.getElementById('radio'+id).checked='checked';	
				
		id_ant=id;					
	}
</script>	

<div class="contenedor-blanco">
	<form id="form_direccion_envio" action="<?php echo site_url('direccion_envio/seleccionar'); ?>" method="POST">
		<table cellspacing="0" cellpadding="0" width="100%">
			<thead>
				<tr>
					
					<th colspan="2">
						Calle y n&uacute;mero
					</th>									
					<th>Colonia</th>
					<th>CP</th>
					<th>Ciudad y Esado</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody class="contenedor-gris">		
		
		<?php
			if (isset($lista_direcciones) && $lista_direcciones->num_rows()) {
				$hay_direcciones = true;
				$direcciones = $lista_direcciones;
				//$default = self::$CAT_ESTATUS['DEFAULT'];	//es 3
				foreach($direcciones->result_array() as $direccion) {
					$check = "";
					$class = "";
					$classsi = "class='radio_no_selected'";
					$value_r = "value='".$direccion['id_consecutivoSi']."'";
					if ($direccion['id_estatusSi']==3){	//$default
						$check = "checked='true'";
						$classsi = "class='radio_selected'";												
						$class="<br /><span style='color: #D81830; height: 20px; font-size: 11px; font-family: italic'>pago express</span>";
					}
			?>
			<tr>
				<td>				
					<input type="radio" id="radio<?php echo $direccion['id_consecutivoSi']; ?>" name="direccion_selecionada" <?php echo $check." ".$value_r;?>/>
					<div id="div<?php echo $direccion['id_consecutivoSi']; ?>" <?php echo $classsi;?> onclick="cambia_boton(<?php echo $direccion['id_consecutivoSi']; ?>)">&nbsp;					
					</div>															
				</td>
				<td class="item-lista borde-derecho">
					<?php echo $direccion['calle'].', '.$direccion['num_ext']; ?>
					<?php echo $class;?>
				</td>
				<td class="item-lista borde-derecho">
					<?php echo $direccion['colonia']; ?>
				</td>
				<td class="item-lista borde-derecho">
					<?php echo $direccion['cp']; ?>
				</td>
				<td class="item-lista borde-derecho">
					<?php echo $direccion['ciudad'].', '.$direccion['estado'] ; ?>
				</td>
				<td class="item-lista borde-derecho">
					<a href="<?php echo site_url("direccion_envio/editar/".$direccion['id_consecutivoSi']); ?>" title="editar">editar</a>&nbsp;
					<a href="<?php echo site_url("direccion_envio/eliminar/".$direccion['id_consecutivoSi']); ?>" title="eliminar">eliminar</a>
				</td>
				<td id="<?php echo $direccion['id_consecutivoSi']; ?>">&nbsp;</td>
			</tr>			
			<?php
					if($direccion['id_estatusSi']==3){
						echo "<script>cambia_boton(".$direccion['id_consecutivoSi'].");</script>";
					}
				}
				//echo " ", count($direcciones);
				//echo "num rows: ", $direcciones->num_rows();
				//var_dump($lista_direcciones);
				
			} else {
				$hay_direcciones = false;
			?>			
			<?php 
			}
			?>
	
		<?php if (!$hay_direcciones): ?>
			<tr><td colspan="7">No tiene direcciones registradas</td></tr>						
		<?php endif ?>		
		</tbody>	
			<tfoot class="contenedor-gris">
				<tr>
					<td colspan="7" >
						<h3> <?php if(isset($mensaje)) { echo $mensaje; } ?></h3>
					</td>
				</tr>
				<tr>
					<td colspan="7" class="borde-top">
						<div id="div_enlace">
							<a class="agregar_direccion" href="<?php echo site_url('direccion_envio/registrar/'); ?>">
								<div class="agregar">&nbsp;</div>
								<div class="texto_agregar">Agregar&nbsp;nueva&nbsp;direcci&oacute;n</div>
							</a>
						</div>
					</td>
				</tr>
			</tfoot>		
		</table>	
	</form>	
</div>
							