<section>
	<table cellspacing="0" cellpadding="0" style="padding:25px">
	  	<tr>
	    	<td>
	    		<b><font color="#e6000000" size="2" face="Arial">ATENCI&Oacute;N A CLIENTES</font></b></font></p>
		      	<p><font color="#000000" size="2" face="Arial, Helvetica, sans-serif">En Grupo Expansi&oacute;n agradeceremos sus comentarios sobre cualquier aspecto de nuestros productos o servicios. Para 
		        	atenderle personalmente o hacer una aclaraci&oacute;n, por favor cont&aacute;ctenos al 01 800 001 35 53, o a <a href="mailto:mercadotecnia@expansion.com.mx">mercadotecnia@expansion.com.mx</a></font>
		        </p>
		      	<p>
		      		<font color="#000000" size="2" face="Arial, Helvetica, sans-serif">Al 
			        adquirir una suscripci&oacute;n, usted cuenta con la garant&iacute;a de 
			        que le devolveremos su dinero de la parte proporcional no utilizada, en 
			        caso de que no est&eacute; satisfecho con el producto.</font>
		       	</p>
			</td>
	  	</tr>
	</table>
</section>