<table cellspacing="0" cellpadding="0" style="padding:20px">
	<tr>
		<td align="center">
			<h3>
				Página de ayuda
			</h3>
		</td>
	</tr>
	<tr>
		<td>
			<div class="footer-titulo">
				Pagar un producto<br />
			</div>	
			<div class="footer-instrucciones">
			    Pagar un producto en la plataforma de pagos de Grupo Expansión es muy fácil. La primera vez que entras a la plataforma de pagos, crearás una cuenta que te permitirá pagar éste y otros productos que compres en el futuro en cualquiera de los sitios del grupo.<br /><br />
				Las instrucciones que debes seguir para pagar un producto son las siguientes:<br />
				1. Ir al proceso de pago<br />
				2. Entrar/crear cuenta<br />
				3. Seleccionar la forma de pago<br />
				4. Introducir la dirección de envío (en caso necesario)<br />
				5. Ingresar datos de facturación<br />
				6. Revisar y confirmar tu orden<br />
				7. Recibir/descargar el artículo comprado<br /><br />
			</div>
			<div class="footer-titulo">	
				1.	Ir al proceso de pago<br />
			</div>
			<div class="footer-instrucciones">	
				Primero tendrás que dar clic en el botón de “Comprar” o “Pagar” del producto que quieres comprar, en cualquiera de nuestros sitios. Al hacer esto serás llevado a la plataforma de pagos de Grupo Expansión, y deberás continuar con los siguientes pasos.<br /><br />
			</div>
			<div class="footer-titulo">
				2.	Entrar/crear cuenta
			</div>
			<div class="footer-instrucciones">	
				Introduce tu dirección de correo electrónico (Ten en cuenta que esta dirección de correo es el único medio de comunicación que tenemos para enviarte cualquier información sobre tu compra). Indica si eres un cliente nuevo o si ya tienes una cuenta creada. Recuerda que la plataforma de pagos sirve a todos los sitios de Grupo Expansión (idconline.com.mx, cnnexpansion.com) por lo que puedes usar la misma cuenta para pagar un producto de cualquiera de estos sitios. Si eres cliente nuevo, no es necesario que llenes el campo de contraseña. Da clic en el botón “Iniciar sesión segura”.<br /><br />
				Si eres cliente nuevo, ingresa tu nombre, apellido paterno, apellido materno y una contraseña para tu cuenta, de modo que la próxima vez que quieras pagar algo en nuestra plataforma de pagos, puedas usar los mismos datos de envío y pago que ingresarás para tu primer orden. Asegúrate de ingresar una contraseña que recordarás la próxima vez que quieras comprar un producto. <br /><br /> 
					<ul>
						<li>
							Las contraseñas son sensibles a mayúsculas y minúsculas. Por ejemplo “Contraseña” y “CONTRASEÑA” son dos contraseñas diferentes. Cuando escribas tu contraseña, recuerda la capitalización que uses.
						</li>
						<li>
							Las contraseñas deben tener al menos 8 caracteres.
						</li>	
						<li>
							Las contraseñas deben tener al menos una letra mayúscula, una minúscula y un número.	
						</li>
					</ul>								
			</div>	
			<div class="footer-titulo">
				3.	Seleccionar una forma de pago<br />
			</div>
			<div class="footer-instrucciones">
				El siguiente paso es que indiques cómo quieres pagar por el producto que estás comprando. La plataforma de pagos de Grupo Expansión acepta tarjetas de crédito Visa, MasterCard y American Express; tarjetas de débito; y depósitos bancarios a BBVA Bancomer (Los depósitos pueden hacerse en una sucursal o por transferencia electrónica).<br /><br />
				Si ya habías realizado un pago con nosotros, podrás seleccionar una de las tarjetas que hayas usado en compras anteriores. Al dar clic en “Usar esta tarjeta” quedará seleccionada esa tarjeta para tu compra actual.<br /><br />
				Si es la primera vez que pagas o si quieres ingresar una nueva tarjeta, da clic en “Agregar nueva tarjeta”. En la forma que aparece, selecciona el banco emisor, escribe el número de tarjeta sin espacios ni guiones, los nombres y apellidos del titular tal como aparecen en la tarjeta, y el mes y año de expiración de la misma. Además, indica si quieres que esta tarjeta se guarde en tu cuenta para compras futuras. Da clic en “Usar nueva tarjeta” para continuar.<br /><br />
				Si el total de tu orden es mayor a 100 pesos, y quieres pagar haciendo un depósito bancario, haz clic en “Pagar con depósito bancario”. Finaliza el proceso de compra y al terminar, sigue las instrucciones que llegarán a tu correo electrónico para hacer tu depósito y completar tu orden.<br /><br />
				Escribe la dirección a la que quieres que enviemos los productos que estás pagando. Si la dirección de envío es internacional, consulta en el sitio donde encontraste el producto que el mismo pueda ser enviado a destinos fuera de México. Las ofertas y costos de envío son diferentes para cada país.<br /><br />
				Si ya habías realizado un pago con nosotros, podrás seleccionar una de las direcciones que hayas usado en compras anteriores. Al dar clic en “Usar esta dirección” quedará seleccionada esa dirección para tu compra actual.<br /><br />
				Si es la primera vez que pagas o si quieres ingresar una nueva dirección, da clic en “Agregar nueva dirección”. En la forma que aparece, escribe el nombre de la calle, el número exterior, el interior (si existe), y el código postal. Si la dirección es en México, da clic en “Llenar”, y usando el código postal, se llenarán automáticamente los campos de país, estado y ciudad. Selecciona la colonia, si lo deseas escribe referencias (Entre qué calles está, puntos de referencia), e ingresa un teléfono de contacto.  Da clic en “Usar esta dirección” para continuar.<br /><br />																
			</div>
			<div class="footer-titulo">
				4.	Ingresar datos de facturación<br />	
			</div>
			<div class="footer-instrucciones">
				El siguiente paso es indicar si requieres factura e ingresar tus datos de facturación en caso necesario.<br /><br />
				Si requieres factura y ya habías realizado un pago con nosotros, podrás seleccionar una de las razones sociales que hayas usado en compras anteriores. Al dar clic en “Usar esta razón social” quedará seleccionada esa razón social para tu factura actual.<br /><br />
				Si es la primera vez que pagas o si quieres ingresar una nueva razón social, da clic en “Agregar nueva razón social”. En la forma que aparece, escribe el nombre o razón social, el RFC, y el correo electrónico al que te llegarán las notificaciones e instrucciones para descargar tu factura. Da clic en “Usar esta razón social” para continuar e ingresar la dirección de de facturación.<br /><br />		
			</div>
			<div class="footer-titulo">
				5.	Revisar y confirmar tu orden<br />					
			</div>
			<div class="footer-instrucciones">
				Revisa la información de pago, envío y facturación que ingresaste para tu orden y haz cualquier cambio necesario. Si tu pago es con tarjeta de débito o crédito ingresa el código de seguridad de la tarjeta. Cuando estés listo, da clic en “Finalizar compra” para que se aplique el pago y se registre tu orden. Una vez completada la orden te enviaremos un correo electrónico con toda la información de la misma.<br /><br />
				Pago express quedará activado automáticamente para que la próxima vez que compres, tus datos de compra ya estén ingresados, y sólo tengas que iniciar sesión, ingresar el código de seguridad de tu tarjeta de crédito y confirmar tu orden.<br /><br />				
			</div>
			<div class="footer-titulo">
				6.	Recibir/descargar el contenido comprado<br />					
			</div>
			<div class="footer-instrucciones">
				Si el producto que estás comprando se entrega físicamente, lo recibirás en la dirección que proporcionaste durante el proceso de pago. Nuestro tiempo de entrega es de 3 días hábiles después de la fecha de portada (para direcciones dentro de México).<br /><br />
				Si lo que compraste es un contenido digital, serás redirigido al sitio donde encontraste el producto y encontrarás las instrucciones para poder acceder al contenido o descargarlo.<br /><br />				
			</div>
			<div class="footer-titulo">
				Pago express<br />	
			</div>
			<div class="footer-instrucciones">
				Pago express te permite hacer tus compras de forma más rápida. Pago express se encuentra habilitado automáticamente para que desde tu primera compra los datos que ingreses sean almacenados en tu cuenta como datos predeterminados de pago (si aceptas almacenar esta información), envío o facturación. La próxima vez que hagas una compra, automáticamente asignaremos a tu orden esos datos, y podrás finalizar tu pago en un solo paso, (omitiendo los otros pasos del proceso de pago).<br /><br />	
			</div>
			<div class="footer-titulo">
				Formas de pago<br />	
	 		</div>
			<div class="footer-instrucciones">
				En la plataforma de pagos de Grupo Expansión puedes usar las siguientes formas de pago:
				<ul>
					<li>
						Tarjetas de crédito Visa, MasterCard y American Express	
					</li>
					<li>
						Tarjetas de débito	
					</li>
					<li>
						Para montos mayores a 100 pesos, depósitos bancarios a BBVA Bancomer (Los depósitos pueden hacerse en una sucursal o por transferencia electrónica)	
					</li>
				</ul>					
			</div>
			<div class="footer-titulo">
				Órdenes internacionales	<br />		
			</div>
			<div class="footer-instrucciones">
				Si el envío de tus productos debe hacerse a una dirección fuera de México, deberás verificar en el sitio donde encontraste el producto que el mismo pueda ser enviado  fuera de México. Las ofertas y costos de envío son diferentes para cada país, por lo que deberás seleccionar desde el inicio la oferta correspondiente al destino de entrega.<br /><br />					
			</div>
			<div class="footer-titulo">
				Solución de problemas en el proceso de pago<br/><br />					
			</div>
			<div class="footer-subtitulo">
				¿No estás seguro si tu orden se registró correctamente?<br />					
			</div>
			<div class="footer-instrucciones">
				Algunas veces las órdenes se registran correctamente aún cuando en el último paso del proceso pago recibes un error. Por eso te pedimos que revises tu correo electrónico buscando el correo de confirmación de la orden antes de intentar ingresar tu orden nuevamente.<br /><br />					
			</div>
			<div class="footer-subtitulo">
				Mensaje de error al confirmar la orden					
			</div>
			<div class="footer-instrucciones">
				Si recibes un mensaje diciendo que no se pudo procesar la transacción con la información proporcionada, por favor regresa a la página de selección de forma de pago y asegúrate que has escogido correctamente el banco emisor y la fecha de expiración de tu tarjeta. También verifica que tu número de tarjeta haya sido ingresado de forma correcta, sin espacios ni guiones. Finalmente, te pedimos que por favor te asegures de haber escrito correctamente el código de seguridad de tu tarjeta. Si estás usando una tarjeta nueva o recientemente renovada, por favor comprueba que esté activada antes de usarla como forma de pago.<br /><br />					
			</div>
			<div class="footer-subtitulo">
				Error del sistema<br /><br />
			</div>
			<div class="footer-instrucciones">
				Estos errores ocurren por periodos de tiempo cortos. Por favor regresa a nuestro sitio e intenta nuevamente más tarde.<br /><br />					
			</div>
			<div class="footer-subtitulo">
				Otros problemas					
			</div>
			<div class="footer-instrucciones">
				Si ninguna de estas soluciones resuelve tu problema, por favor comunícate con nosotros al 01 800 001 35 53, o a <a href="mailto:servicioaclientes@expansion.com.mx">servicioaclientes@expansion.com.mx</a>. Por favor, provéenos toda la información que puedas, incluyendo:
				<ul>
					<li>
						¿En qué punto del proceso de pago estás teniendo problemas?	
					</li>
					<li>
						¿Qué mensaje de error te aparece en la pantalla?	
					</li>
					<li>
						¿Qué artículos estás tratando de pagar?	
					</li>
				</ul>
				Nuestro departamento de Atención a Clientes te ayudará con gusto. También podemos recibir órdenes telefónicas. <br /><br />										
			</div>
			<div class="footer-titulo">
				Cancelación de orden					
			</div>
			<div class="footer-instrucciones">
				Si deseas cancelar una orden ya ingresada, por favor comunícate con nuestro Centro de Atención a Clientes al 01 800 001 35 53, o a <a href="mailto:servicioaclientes@expansion.com.mx">servicioaclientes@expansion.com.mx</a>.					
			</div>								
		</td>
	</tr>			
</table>