<section>
	<table cellspacing="0" cellpadding="0" style="padding:25px">
		<tr>
			<td>
				<p><font face="arial" size="2"><b><font color="#e6000000" size="2" face="Arial">FORMASDE PAGO</font></b></font></p>
		      	<p><font color="#000000" size="2" face="Arial, Helvetica, sans-serif"><strong>Usted puede efectuar sus pagos a trav&eacute;s de:</strong></font></p>
      			<p><font color="#000000" size="2" face="Arial, Helvetica, sans-serif">&#8226; 
			        Tarjeta de cr&eacute;dito Visa, Mastercard o American Express <br />
					&#8226; 
			        Tarjeta de d&eacute;bito <br />
			        &#8226; Dep&oacute;sito bancario o transferencia electr&oacute;nica a BBVA Bancomer</font>
		      	</p>
		     	<p><font color="#000000" size="2" face="Arial, Helvetica, sans-serif"><strong>Si tiene alguna pregunta, por favor ll&aacute;menos 
	        		al (55) 9177-4342.</strong></font>
	        	</p>
			</td>
		</tr>
	</table>
</section>