<table cellspacing="0" cellpadding="0" style="padding:20px">
	<tr>
		<td align="center">
			<h3>
				Contáctanos
			</h3>
		</td>
	</tr>
  	<tr>
    	<td>
    		<div class="footer-titulo">
    			ATENCI&Oacute;N A CLIENTES<br /><br />
    		</div>
    		<div class="footer-instrucciones">
    			En Grupo Expansi&oacute;n agradeceremos sus comentarios sobre cualquier aspecto de nuestros productos o servicios. Para 
	        	atenderle personalmente o hacer una aclaraci&oacute;n, por favor cont&aacute;ctenos al 01 800 001 35 53, o a <a href="mailto:servicioaclientes@expansion.com.mx">servicioaclientes@expansion.com.mx</a><br /><br />
    			Al adquirir una suscripci&oacute;n, usted cuenta con la garant&iacute;a de que le devolveremos su dinero de la parte proporcional no utilizada, en caso de que no est&eacute; satisfecho con el producto.</font>
	      	</div> 	       	
		</td>
  	</tr>
</table>