<div id="menu_navegacion">
	<div class="menu_opcion">
		<a href="<?php echo $this->config->item('base_url'); ?>/index.php/forma_pago/">forma_de pago</a>		
	</div>
	<div class="menu_opcion">
		<a href="<?php echo $this->config->item('base_url'); ?>/index.php/direccion_envio/">Direccion de envio</a>
	</div>
	<div class="menu_opcion">
		<a href="<?php echo $this->config->item('base_url'); ?>/index.php/direccion_facturacion/">Direccion de facturacion</a>
	</div>
	<div class="menu_opcion">
		<a href="<?php echo $this->config->item('base_url'); ?>/index.php/orden_compra/">Orden_compra</a>
	</div>
	<div class="menu_opcion">
		<a href="<?php echo $this->config->item('base_url'); ?>/index.php/logout/">Cerrar Sesi&oacute;n</a>
	</div>
</div>