<section id='encabezado'>
	<header>
		<img src="../images/logo_cnn_mexico.gif" alt="CNN Mexico"/>
	</header>
	<section>
		<nav>	
		<div class="izquierda">
			<div class="proceso-pago">
				<div class="img-proceso-pago img-inicio-select">							
				</div>
				<div class="txt-proceso-pago-select">Inicio</div>
			</div>	
			<div class="proceso-pago">		
				<div class="img-proceso-pago img-pago-envio">				
				</div>
				<div class="txt-proceso-pago">Pago&nbsp;y&nbsp;Envío</div>
			</div>
			<div class="proceso-pago">	
				<div class="img-proceso-pago img-facturacion">				
				</div>
				<div class="txt-proceso-pago">Facturación</div>
			</div>	
			<div class="proceso-pago">	
				<div class="img-proceso-pago img-compra">				
				</div>
				<div class="txt-proceso-pago">Finalizar&nbsp;Compra</div>
			</div>	
		</div>		
		<div class="derecha">
			<div class="necesita-ayuda img-ayuda">				
			</div>	
		</div>													
		</nav>			
	</section>		
</section>
<div id="pleca-punteada">&nbsp;</div>

