<table cellspacing="0" cellpadding="0" style="padding:20px">
	<tr>
		<td align="center">
			<h3>
				Política de Privacidad
			</h3>
		</td>
	</tr>
	<tr>
		<td>
			<div class="footer-titulo">
				Aviso de Privacidad para la protección de Datos Personales<br /><br />	
			</div>
			<div class="footer-instrucciones">
				En cumplimiento con lo establecido por la Ley Federal de Protección de Datos Personales en Posesión de Particulares, <strong>Time Expansión, S. de R.L. de C.V.</strong> (en lo sucesivo “Grupo Expansión”) hacen de su conocimiento la política de privacidad y manejo de datos personales, en la que en todo momento buscarán que el tratamiento de los mismos sea legítimo, controlado e informado, a efecto de garantizar la privacidad de los mismos.<br /><br />
				Grupo Expansión será el responsable de sus datos personales, su domicilio es Av. Constituyentes No. 956, Col. Lomas Altas, en México, D.F. 11950.<br /><br />
				Los datos personales que proporcione cualquier persona física, incluyendo sin limitar, suscriptores, clientes, proveedores y/o usuarios, a Grupo Expansión tendrán el uso que en forma enunciativa pero no limitativa se describe a continuación:<br /><br />							    
			    <ul>
			    	<li>
			    		Para identificarle, ubicarle, comunicarle, contactarle, enviarle información y/o mercancía, así como su transmisión a terceros por cualquier medio. El uso de los datos personales tendrá relación con el tipo de interacción que usted tiene con el Responsable, ya sea comercial, civil, mercantil o de cualquier otra naturaleza
			    	</li> 
			    	<br />
			        <li>
			        	Al visitar cualquiera de los sitios de internet de Grupo Expansión, nosotros recopilamos automáticamente algunos datos personales, que luego sumamos a un conjunto para que no estén asociados a una única persona que sea identificable. Con esta información elaboramos estadísticas sobre cuántos usuarios visitaron nuestros sitios web y a qué páginas accedieron. Al recopilar esta información, aprendemos a adaptar de la mejor manera a los sitios web a nuestros visitantes. Tal y como explicamos a continuación, recopilamos esta información a través de "archivos temporales" o "web beacons". 
			        </li> 
			        <br />
			        <ul>
			          	<li>Archivos de registro: Los archivos temporales son archivos web del servidor (como el nombre del dominio o la dirección IP, URL, el código de respuesta http, el sitio web desde el que nos ha visitado o la fecha y duración de su visita) que se crean automáticamente cuando un usuario de Internet visita un sitio. Una vez que deje de usar nuestro sitio web, procesaremos y utilizaremos esta información sólo para permitir más conexiones, para temas de facturación, para detectar interrupciones en el equipo de telecomunicaciones, así como para detectar abusos en nuestros servicios de telecomunicaciones. Esta información se elimina inmediatamente una vez finalizada la conexión al sitio web. 
			               	<br />Esta información se utiliza para crear perfiles conjuntos generales de nuestra base de usuarios del sitio, y no para crear perfiles de usuario personalizados. 
			            </li>
			            <br />		                
			            <li>•	Web Beacons: Algunas páginas de nuestro sitio web contienen "web beacons" (también conocidos como etiquetas de Internet, etiquetas de píxel y clear GIFs). Los web beacons permiten a terceros obtener información, como es la dirección IP del ordenador que ha descargado la página en la que aparece el beacon, la URL de la página en la que aparece el beacon, la hora en la que se produjo la visita a la página con el beacon, el tipo de navegador utilizado para visitar la página, así como la información de las cookies enviada por el tercero.
			            </li>		                
			        </ul>		             
			    </ul>
			    <br />
			    La temporalidad del manejo de los datos personales será indefinida a partir de la fecha en que usted los proporcionó al Responsable.<br /><br />
			    En caso que dese ejercer sus derechos de acceso, rectificación, cancelación u oposición, estos los podrán ejercer en todo momento dirigiendo su solicitud a (i) al correo electrónico <a href="mailto:datospersonales@expansión.com.mx"> datospersonales@expansión.com.mx</a> y/o (ii) al siguiente domicilio: Av. Constituyentes No. 956, Col. Lomas Altas, C.P. 11950, México, D.F. al teléfono 91 77 41 00, de Lunes a Viernes de las 9:00 a las 17:00 horas, en días hábiles, según corresponda. Para lo anterior, deberá hacernos saber fehacientemente los datos personales que usted desea sean rectificados, cancelados o revisados, así como el propósito para el cual los aportó y el nombre del Responsable a quien se los entregó y en general cumplir los requisitos mencionados en el art. 29 de la Ley Federal de Protección de Datos Personales en Posesión de Particulares.<br /><br />
			    Grupo Expansión podrá modificar el presente aviso de privacidad en cualquier tiempo y lo mantendrá siempre a disposición por este conducto para su consulta.
		    </div>	 									
		</td>
	</tr>
</table>

