<section id="detalle-promocion">
	<?php
		if ($this->session->userdata('promociones') && $this->session->userdata('promocion')) {
			
			$articulos = $this->session->userdata('articulos');
			$total = 0;
			if (!empty($articulos)) {
				foreach ($articulos as $a) 
					$total += $a['tarifaDc'];
			}
	?>	
	
		<div class="img-producto-compra"></div>
		<div class="producto-compra">
			<div class="izquierda">
				<div class="titulo-promo-rojo">Est&aacute;s comprando:</div>
				<div class="titulo-promo-negro">
					<?php 
						if ($this->session->userdata('promocion'))							
								$mp=explode('|',$this->session->userdata('promocion')->descripcionVc);
								$nmp=count($mp);
								if($nmp==2){
									echo $mp[0];		
								}	
								else if($nmp==3){
									echo $mp[1];
								}														  																			
								if (!empty($articulos))
									foreach($articulos as $articulo)                                     
								    	echo "<br />" . $articulo['tipo_productoVc'] . ", " . $articulo['medio_entregaVc'];
					?>														
				</div>					
			</div>
			<div class="derecha">
				<div class="titulo-promo-rojo">
					Total
				</div>
				<div class="titulo-promo-negro">
					$<?php echo $total; ?>
				</div>									
			</div>					
		</div>
																			
	<?php 
		} 
	?>
</section>
<div id="pleca-punteada"></div>