<div id="promocion">
	<?php
		if ($this->session->userdata('promociones') && $this->session->userdata('promocion')) {
			echo "promo: " .$this->session->userdata('promociones');
			$articulos = $this->session->userdata('articulos');
			$total = 0;
			if (!empty($articulos)) {
				foreach ($articulos as $a) 
					$total += $a['tarifaDc'];
			}
	?>
		<table>
			<thead>
				<tr class="promocion">
					<th>
					<?php if ($this->session->userdata('promocion')) echo $this->session->userdata('promocion')->descripcionVc;
					?>
						
					</th>
					<th>
						Total
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="articulo">
						<ul>
							<?php 
								if (!empty($articulos))
								foreach($articulos as $articulo)                                     
								    echo "<li>" . $articulo['tipo_productoVc'] . ", " . $articulo['medio_entregaVc'] . "</li>";
							?>
						</ul>
					</td>
					<td>$<?php echo $total; ?></td>		
				</tr>															
			</tbody>
		</table>	
	<?php } else { ?>
		<h2>No existe promoci&oacute;n para realizar el pago</h2>
		<?php //echo anchor('/', 'Ir a la tienda'); ?>
	<?php }?>
</div>