<div class="instrucciones_mensaje"><b>Nueva direcci&oacute;n</b></div>
<div class="contenedor-gris">
	<form id="form_agregar_direccion" action="<?php echo site_url('direccion_facturacion/registrar_direccion');?>" method="POST">
		<table>
			<tr>
				<td class="label">Direcciones de env&iacute;o guardadas</td>
				<td>
					<select onchange="llena_formulario(this.value)">
						<option value="0">Elige una opcion</option>
						<?php
						foreach($dir_envio->result_array() as $denvio) {
							echo "<option value='".$denvio['calle'].",".$denvio['num_ext'].",".$denvio['num_int'].",".$denvio['cp'].",".$denvio['estado'].",".$denvio['ciudad'].",".$denvio['colonia']."'>".$denvio['calle']."&nbsp;".$denvio['num_ext']."&nbsp;".$denvio['num_int'].",&nbsp;".$denvio['cp'].",&nbsp;".$denvio['estado']."&nbsp;".$denvio['ciudad']."&nbsp;".$denvio['colonia']."</option>";
						}
						?>				 
					</select>
				</td>
			</tr>
			<tr>
				<td class="label">Calle</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_calle" id="txt_calle" size="30" value="<?php if(isset($_POST['txt_calle'])) echo htmlspecialchars($_POST['txt_calle']);?>"/>
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['txt_calle'])) echo ($reg_errores['txt_calle']);?></span>
				</td>
			</tr>
			<tr>
				<td class="label">N&uacute;mero exterior</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_numero" id="txt_numero" maxlength="5" size="5" value="<?php if(isset($_POST['txt_numero'])) echo htmlspecialchars($_POST['txt_numero']);?>" />
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['txt_numero'])) echo ($reg_errores['txt_numero']);?></span>
				</td>
			</tr>
			<tr>
				<td class="label">N&uacute;mero interior</td>
				<td>
					<input type="text" name="txt_num_int" id="txt_num_int" maxlength="5" size="5" value="<?php if(isset($_POST['txt_num_int'])) echo htmlspecialchars($_POST['txt_num_int']);?>"/>
				</td>
			</tr>
			<tr>
				<td class="label">C&oacute;digo postal</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_cp" id="txt_cp" maxlength="5" size="5" value="<?php if(isset($_POST['txt_cp'])) echo htmlspecialchars($_POST['txt_cp']);?>"/>
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['txt_cp'])) echo ($reg_errores['txt_cp']);?></span>
				</td>
			</tr>
			<tr>
				<td class="label">Pa&iacute;s</td>
				<td>
					<span class="alinear_izquierda">
						<select id="sel_pais" name="sel_pais">
							<?php
							if (isset($lista_paises_think)) {
								$id_pais = "MX";
								if (isset($_POST['sel_pais']))	//pais seleccionado para la captura
									$id_pais = $_POST['sel_pais'];
								//echo '<option value="AM">America</option>';	
								foreach($lista_paises_think->result() as $pais)
								{
									if ($id_pais == $pais->id_pais) {
										echo "<option value='".$pais->id_pais."' selected='true'>".
											$pais->pais.
											"</option>";
									} else {
										echo "<option value='".$pais->id_pais."'>".
											$pais->pais.
											"</option>";
									}
								}
							}
							?>
						</select>
					</span>
					<span class="asterisco">&nbsp;</span>	
					<span class="error_mensaje"><?php if(isset($reg_errores['sel_pais'])) echo ($reg_errores['sel_pais']);?></span>
				</td>
			</tr>
			<tr>
				<td class="label">Estado</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_estado" id="txt_estado" size="30" value="<?php if(isset($_POST['txt_estado'])) echo htmlspecialchars($_POST['txt_estado']);?>"/>
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['txt_estado'])) echo ($reg_errores['txt_estado']);?></span>
				</td>
			</tr>
			<tr>
				<td class="label">Ciudad</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_ciudad" id="txt_ciudad" size="30" value="<?php if(isset($_POST['txt_ciudad'])) echo htmlspecialchars($_POST['txt_ciudad']);?>"/>
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['txt_ciudad'])) echo ($reg_errores['txt_ciudad']);?></span>
				</td>
			</tr>
			<tr>
				<td class="label">Colonia</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_colonia" id="txt_colonia" size="30" value="<?php if(isset($_POST['txt_colonia'])) echo htmlspecialchars($_POST['txt_colonia']);?>"/>
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['txt_colonia'])) echo ($reg_errores['txt_colonia']);?></span>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td class="label_izq">
					<input type="checkbox" id="chk_default" name="chk_default" <?php if(isset($_POST['chk_default'])) echo 'checked="true"';?> />Usar como direcci&oacute;n de facturaci&oacute;n para pago express
				</td>
			</tr>
			<tr>
				<td colspan="2"><div><span class="instrucciones_cursivas_der"><span class="asterisco">&nbsp;</span>Estos campos son obligatorios</span></div></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>
					<input type="submit" id="guardar_direccion" value="&nbsp;" class="usar_nueva_direccion"/>
					<a href=""></a>
				</td>
			</tr>
		</table>
	</form>
</div>
<script>
	function llena_formulario(val){
		var datos = val.split(",");
		document.getElementById('txt_calle').value=datos[0];
		document.getElementById('txt_numero').value=datos[1];
		document.getElementById('txt_num_int').value=datos[2];
		document.getElementById('txt_cp').value=datos[3];	
		document.getElementById('txt_estado').value=datos[4];
		document.getElementById('txt_ciudad').value=datos[5];	
		document.getElementById('txt_colonia').value=datos[6];		
	}
</script>