<script>		
	function cambia_check(id){				
		if(document.getElementById('div'+id)){
			if(document.getElementById('div'+id).className!='checkbox_selected'){
				document.getElementById('div'+id).className='checkbox_selected';
				document.getElementById(id).checked='checked';	
			}
			else{
				document.getElementById('div'+id).className='checkbox_no_selected';
				document.getElementById(id).checked='';
			}
			
		}																				
	}
</script>
<div class="contenedor-gris">		
	<form id="form_agregar_rs" action="<?php echo site_url('direccion_facturacion/editar_rs/'.$consecutivo);?>" method="POST">
		<table width="100%">
			<tr>
				<td class="label">Nombre o Raz&oacute;n Social</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_razon_social" id="txt_razon_social" size="30" value="<?php if(isset($_POST['txt_razon_social'])) echo htmlspecialchars($_POST['txt_razon_social']); else echo $datos_direccion->company;?>"/>
					</span>
					<span class="asterisco">&nbsp;</span>
					<?php if(isset($reg_errores['txt_razon_social'])) echo ($reg_errores['txt_razon_social']);?>
				</td>
			</tr>
			<tr>
				<td class="label">RFC</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_rfc" id="txt_rfc" size="30" value="<?php if(isset($_POST['txt_rfc'])) echo htmlspecialchars($_POST['txt_rfc']); else echo  $datos_direccion->tax_id_number;?>"/>
					</span>
					<span class="asterisco">&nbsp;</span>
					<?php if(isset($reg_errores['txt_rfc'])) echo ($reg_errores['txt_rfc']);?>
				</td>
			</tr>
			<tr>
				<td class="label">Correo Electr&oacute;nico de Env&iacute;o</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_email" id="txt_email" value="<?php if(isset($_POST['txt_email'])) echo htmlspecialchars($_POST['txt_email']); else echo  $datos_direccion->email;?>" size="30"/>
					</span>
					<span class="asterisco">&nbsp;</span>
					<?php if(isset($reg_errores['txt_email'])) echo ($reg_errores['txt_email']);?>					
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>
					<div class="instrucciones_cursivas">¿A qu&eacute; correo debemos enviar tu factura?</div>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td class="label_izq">
					<div class="float_izq">
						<input type="checkbox" id="chk_default" name="chk_default"/>					
						<div id="divchk_default" class="checkbox_no_selected" onclick="cambia_check('chk_default')">&nbsp;					
						</div>												
						Usar como raz&oacute;n social para pago express
					</div>
					<?php 
						$this->load->view('mensaje_pago_express');
						 
						if(isset($_POST['chk_default'])) { 							
							echo "<script>cambia_check('chk_default')</script>"; 
						}
						//si no viene del post y es default su estado inicial
						else if(isset($datos_direccion->id_estatusSi) && $datos_direccion->id_estatusSi == 3){									
							echo "<script>cambia_check('chk_default')</script>";
						}						
					?> 					
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>
					<input type="submit" name="guardar_rs" id="guardar_rs" value="" class="usar_razon_social_large2"/> &oacute;
					<input type="submit" name="guardar_usar_otra" id="guardar_otra_rs" value="" class="usar_otra_large"/>
					<div class="instrucciones_cursivas_der">
						<a href="<?php echo site_url('direccion_facturacion'); ?>"><div class="cancelar"></div></a>						
					</div>					
				</td>
			</tr>
		</table>
	</form>
</div>