<div class="contenedor-gris">		
	<form id="form_agregar_rs" action="<?php echo $this->config->item('base_url').'/index.php/direccion_facturacion/editar_rs/'.$consecutivo?>" method="POST">
		<table>
			<tr>
				<td class="label">Nombre o Raz&oacute;n Social</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_razon_social" id="txt_razon_social" size="30" value="<?php if(isset($_POST['txt_razon_social'])) echo htmlspecialchars($_POST['txt_razon_social']); else echo $datos_direccion->company;?>"/>
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['txt_razon_social'])) echo ($reg_errores['txt_razon_social']);?></span>
				</td>
			</tr>
			<tr>
				<td class="label">RFC</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_rfc" id="txt_rfc" size="30" value="<?php if(isset($_POST['txt_rfc'])) echo htmlspecialchars($_POST['txt_rfc']); else echo  $datos_direccion->tax_id_number;?>"/>
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['txt_rfc'])) echo ($reg_errores['txt_rfc']);?></span>
				</td>
			</tr>
			<tr>
				<td class="label">Correo Electr&oacute;nico de Env&iacute;o</td>
				<td>
					<span class="alinear_izquierda">
						<input type="text" name="txt_email" id="txt_email" value="<?php if(isset($_POST['txt_email'])) echo htmlspecialchars($_POST['txt_email']); else echo  $datos_direccion->email;?>" size="30"/>
					</span>
					<span class="asterisco">&nbsp;</span>
					<span class="error_mensaje"><?php if(isset($reg_errores['txt_email'])) echo ($reg_errores['txt_email']);?></span>
					<div class="instrucciones_cursivas">¿A qu&eacute; correo debemos enviar tu factura?</div>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td class="label_izq">
					<input type="checkbox" id="chk_default" name="chk_default" <?php if(isset($_POST['chk_default'])) echo 'checked="true"';?> />Usar como raz&oacute;n social para pago express
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>
					<input type="submit" id="guardar_rs" value="" class="usar_razon_social_large2"/> &oacute;
					<input type="submit" id="guardar_rs" value="" class="usar_otra_large"/>
					<a href="<?php echo site_url('direccion_facturacion'); ?>" title="actualizar">Cancelar</a>
				</td>
			</tr>
		</table>
	</form>
</div>