<div>		
	<form id="form_agregar_rs" action="<?php echo $this->config->item('base_url').'/index.php/direccion_facturacion/editar_rs/'.$consecutivo?>" method="POST">
		<p><b>Edita los campos que quieras modificar</b></p>
		<div class="item_requerid">Nombre o Raz&oacute;n Social</div>
		<div class="form_requerid">
			<input type="text" name="txt_razon_social" id="txt_razon_social" size="30"
				value="<?php if(isset($_POST['txt_razon_social'])) echo htmlspecialchars($_POST['txt_razon_social']); else echo $datos_direccion->company;?>"/>
			<span class="validation_message"><?php if(isset($reg_errores['txt_razon_social'])) echo ($reg_errores['txt_razon_social']);?></span>
		</div>	
		<div class="item_requerid">RFC</div>
		<div class="form_requerid">
			<input type="text" name="txt_rfc" id="txt_rfc" size="30"
				value="<?php if(isset($_POST['txt_rfc'])) echo htmlspecialchars($_POST['txt_rfc']); else echo  $datos_direccion->tax_id_number;?>"/>
			<span class="validation_message"><?php if(isset($reg_errores['txt_rfc'])) echo ($reg_errores['txt_rfc']);?></span>
		</div>
		<div class="item_requerid">Correo Electronico</div>
		<div class="form_requerid">
			<input type="text" name="txt_email" id="txt_email" value="<?php if(isset($_POST['txt_email'])) echo htmlspecialchars($_POST['txt_email']); else echo  $datos_direccion->email;?>" size="30"/>
			<span class="validation_message"><?php if(isset($reg_errores['txt_email'])) echo ($reg_errores['txt_email']);?></span>
			<div>¿A que correo electronico debenemos enviar su factura?</div>				
		</div>						
		<div class="item_requerid">&nbsp;</div>
		<div class="form_requerid">
			<input type="checkbox" id="chk_default" name="chk_default" <?php if(isset($_POST['chk_default'])) echo 'checked="true"';?> />Usar como razon social para pago express
		</div>																						
		<div class="form_button">
			<input type="submit" id="guardar_rs" value="Usar esta razon social"/>			
			<!--<a href="<?php echo $this->config->item('base_url').'/index.php/direccion_facturacion/actualizar_rs'; ?>" title="actualizar">guardar y usar otra</a>-->
			o
			<a href="<?php echo $this->config->item('base_url').'/index.php/direccion_facturacion/'; ?>" title="actualizar">cancelar</a>
		</div>								
	</form>
</div>