<h1>Direcciones guardadas de <?php echo $this->session->userdata('username');?></h1>

<div id="body">
	<?php
		if(isset($msg)){
			echo "mens";
		}
	?>
	<form id="form_direccion_envio" action="<?php echo $this->config->item('base_url').'/index.php'; ?>/" method="POST">
		<div id="list_headers">			
			<div class="column_header">R.F.C.</div>
			<div class="column_header">Raz&oacute;n Social</div>
			<div class="column_header">Calle y n&uacute;mero</div>
			<div class="column_header">Colonia</div>
			<div class="column_header">CP</div>
			<div class="column_header">Ciudad y Estado</div>
			<div class="column_header">E-mail</div>
			<div class="column_header">&nbsp;</div>
			<div class="column_header">&nbsp;</div>
		</div>
		<div id="list_results">
		<?php
			if (isset($lista_direcciones) && $lista_direcciones->num_rows()) {				
				$direcciones = $lista_direcciones;
				foreach($direcciones->result_array() as $direccion) {
					if ($direccion['id_estatusSi']==3){
						$check="checked='checked'";
						$class="style='background-color: #E70030; color: #FFF; height: 20px'";
					} 
					else{
						$check="";
						$class="";
					}						
			?>
			<ul>				
				<li <?php echo $class; ?>><input type="radio" name="predeterminado" <?php echo $check;?> /><?php echo "&nbsp;".$direccion['rfc']; ?></li>
				<li <?php echo $class; ?>><?php echo $direccion['company']; ?></li>
				<li <?php echo $class; ?>><?php echo $direccion['calle']."&nbsp;".$direccion['num_ext']."&nbsp;".$direccion['num_int']; ?></li>
				<li <?php echo $class; ?>><?php echo $direccion['colonia']; ?></li> 
				<li <?php echo $class; ?>><?php echo $direccion['cp']; ?> </li>	
				<li <?php echo $class; ?>><?php echo $direccion['ciudad'].', '.$direccion['estado'] ; ?></li>
				<li <?php echo $class; ?>><?php echo $direccion['email']?></li>
				<li><a href="<?php echo $this->config->item('base_url').'/index.php/direccion_facturacion/editar/'.$direccion['id_consecutivoSi']; ?>" title="editar">editar</a></li>
				<li><a href="<?php echo $this->config->item('base_url').'/index.php/direccion_facturacion/eliminar/'.$direccion['id_consecutivoSi']; ?>" title="eliminar">eliminar</a></li>
			</ul>
			<?php 					
				}				
			} else {
				$hay_direcciones = false;				
			?>			
			<?php 
			}
			?>
		</div>	
		<div id="list_results">
			<input type="button" name="utilizar_registro" value="Utilizar " />
		</div>	
	</form>
</div>

<h1>
	<a href="<?php echo $this->config->item('base_url'); ?>/index.php/direccion_facturacion/registrar/">Nueva Direcci&oacute;n</a>
	<a href="<?php echo $this->config->item('base_url'); ?>/index.php/direccion_facturacion/listar/">Listar</a>
</h1>