	
	<form id="form_direccion_facturacion" action="<?php echo site_url('orden_compra'); ?>/" method="POST">
		<table cellpadding="0" cellspacing="0" width="100%" >
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>
						Tus direcciones guardadas
					</th>
									
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody class="contenedor-gris">
			<?php
				if (isset($lista_direcciones) && $lista_direcciones->num_rows()) {				
					$direcciones = $lista_direcciones;
					foreach($direcciones->result_array() as $direccion) {										
			?>
				<tr>
					<td>
						<input type="radio" name="direccion_selecionada" id="direccion_selecionada" onclick="cambia_boton(<?php echo $direccion['id_consecutivoSi'] ?>)" value="<?php echo $direccion['id_consecutivoSi']; ?>"/>
					</td>
					<td class="item-lista borde-derecho tam15">						
						<?php echo $direccion['calle']."&nbsp;".$direccion['num_ext']."&nbsp;".$direccion['num_int']; ?>
						<br />
						<?php echo $direccion['cp']; ?>
						<br />
						<?php echo $direccion['colonia']; ?>
						<br />
						<?php echo $direccion['ciudad']; ?>
						<br />
						<?php echo $direccion['estado']; ?>												
					</td>										
					<td class="item-lista borde-derecho tam15">
						<a href="<?php echo $this->config->item('base_url').'/index.php/direccion_facturacion/editar_direccion/'.$direccion['id_consecutivoSi']; ?>" title="editar">editar</a>
						<a href="<?php echo $this->config->item('base_url').'/index.php/direccion_facturacion/eliminar_direccion/'.$direccion['id_consecutivoSi']; ?>" title="eliminar">eliminar</a>
					</td>
					<td class="item-lista borde-derecho tam15" id="<?php echo $direccion['id_consecutivoSi'] ?>">&nbsp;						
					</td>
				</tr>																								
							
			<?php 					
				}				
			} else {
				$hay_direcciones = false;	
			?>
				<tr>
					<td colspan="6" class="instrucciones">
						<p>							
							A&uacute;n no tienes direcciones asociadas.							
						</p>						
					</td>
				</tr>
			<?php				
			?>			
			<?php 
			}
			?>				
			</tbody>	
			<tfoot class="contenedor-gris">
				<tr>
					<td colspan="7" class="borde-top">
						<div id="div_enlace">
							<a class="agregar_direccion" href="<?php echo site_url('direccion_facturacion/registrar_direccion/nueva'); ?>">
								<span class="agregar">&nbsp;</span>
								<span class="texto_agregar">Agregar nueva direcci&oacute;n</span>
							</a>
						</div>
					</td>
				</tr>
			</tfoot>		
		</table>									
	</form>
<script>
	var id_ant=0;
	function cambia_boton(id){
		if(document.getElementById(id_ant)){
			document.getElementById(id_ant).innerHTML='';
		}				
		document.getElementById(id).innerHTML='<input type="submit" name="utilizar_registro" value="Usar esta direccion" />';
		id_ant=id;					
	}
</script>

