<div id="body">	
	<p><b>Selecciona una direccion de facturacion</b></p>
	<form id="form_direccion_facturacion" action="<?php echo site_url('orden_compra'); ?>/" method="POST">
		<table>
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>
						Direcciones guardadas
					</th>
									
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
			<?php
				if (isset($lista_direcciones) && $lista_direcciones->num_rows()) {				
					$direcciones = $lista_direcciones;
					foreach($direcciones->result_array() as $direccion) {										
			?>
				<tr>
					<td>
						<input type="radio" name="direccion_selecionada" id="direccion_selecionada" onclick="cambia_boton(<?php echo $direccion['id_consecutivoSi'] ?>)" value="<?php echo $direccion['id_consecutivoSi']; ?>"/>
					</td>
					<td>						
						<?php echo $direccion['calle']."&nbsp;".$direccion['num_ext']."&nbsp;".$direccion['num_int']; ?>
						<br />
						<?php echo $direccion['cp']; ?>
						<br />
						<?php echo $direccion['colonia']; ?>
						<br />
						<?php echo $direccion['ciudad']; ?>
						<br />
						<?php echo $direccion['estado']; ?>												
					</td>										
					<td>
						<a href="<?php echo $this->config->item('base_url').'/index.php/direccion_facturacion/editar_direccion/'.$direccion['id_consecutivoSi']; ?>" title="editar">editar</a>
						<a href="<?php echo $this->config->item('base_url').'/index.php/direccion_facturacion/eliminar_direccion/'.$direccion['id_consecutivoSi']; ?>" title="eliminar">eliminar</a>
					</td>
					<td id="<?php echo $direccion['id_consecutivoSi'] ?>">&nbsp;						
					</td>
				</tr>																								
							
			<?php 					
				}				
			} else {
				$hay_direcciones = false;	
			?>
				<tr>
					<td colspan="6">
						<p>							
							Aun no tienes direcciones asociadas.							
						</p>						
					</td>
				</tr>
			<?php				
			?>			
			<?php 
			}
			?>				
			</tbody>	
			<tfoot class="borde-top">
				<tr>
					<td colspan="7">
						<a href="<?php echo $this->config->item('base_url').'/index.php/direccion_facturacion/registrar_direccion/nueva'; ?>" title="registrar">+ Agregar nueva direccion</a>
					</td>
				</tr>
			</tfoot>		
		</table>									
	</form>
</div>
<script>
	var id_ant=0;
	function cambia_boton(id){
		if(document.getElementById(id_ant)){
			document.getElementById(id_ant).innerHTML='';
		}				
		document.getElementById(id).innerHTML='<input type="submit" name="utilizar_registro" value="Usar esta direccion" />';
		id_ant=id;					
	}
</script>

