
	<form id="form_direccion_facturacion" action="<?php echo site_url('orden_compra'); ?>/" method="POST">
		<table cellpadding="0" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th class="doble-linea">
						Raz&oacute;n Social
					</th>
					<th class="doble-linea">
						RFC
					</th>
					<th class="doble-linea">
						Correo Electronico <br />de envio						
					</th>					
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody class="contenedor-gris">
			<?php							
				if (isset($lista_direcciones)) {								
					foreach($lista_direcciones as $direccion) {												
			?>
				<tr>
					<td>
						<input type="radio" name="razon_social_seleccionada" id="razon_social_seleccionada" onclick="cambia_boton(<?php echo $direccion->id_razonSocialIn ?>)" value="<?php echo $direccion->id_razonSocialIn ?>" />
					</td>
					<td class="item-lista borde-derecho tam15">						
						<?php echo $direccion->company; ?>											
					</td>
					<td class="item-lista borde-derecho">
						<?php echo "&nbsp;".$direccion->tax_id_number; ?>	
					</td>
					<td class="item-lista borde-derecho"><?php echo $direccion->email;?></td>					
					<td class="item-lista borde-derecho">
						<a href="<?php echo $this->config->item('base_url').'/index.php/direccion_facturacion/editar_rs/'.$direccion->id_razonSocialIn; ?>" title="editar">editar</a>
						<a href="<?php echo $this->config->item('base_url').'/index.php/direccion_facturacion/eliminar_rs/'.$direccion->id_razonSocialIn; ?>" title="eliminar">eliminar</a>
					</td>
					<td align="center" id="<?php echo $direccion->id_razonSocialIn ?>">												
						&nbsp;						
					</td>
				</tr>																								
							
			<?php 					
				}				
			} else {
				$hay_direcciones = false;	
			?>
				<tr>
					<td colspan="6" class="instrucciones">
						<p>							
							A&uacute;n no tienes raz&oacute;n social asociada.							
						</p>						
					</td>
				</tr>
			<?php				
			?>			
			<?php 
			}
			?>				
			</tbody>	
			<tfoot class="contenedor-gris">
				<tr>
					<td colspan="7" class="borde-top">
						<div id="div_enlace">
							<a class="agregar_direccion" href="<?php echo site_url('direccion_facturacion/registrar_rs/nueva'); ?>">
								<span class="agregar">&nbsp;</span>
								<span class="texto_agregar">Agregar nueva raz&oacute;n social</span>
							</a>
						</div>
					</td>
				</tr>
			</tfoot>		
		</table>									
	</form>
<script>
	var id_ant=0;
	function cambia_boton(id){
		if(document.getElementById(id_ant)){
			document.getElementById(id_ant).innerHTML='';
		}				
		document.getElementById(id).innerHTML='<input type="submit" name="utilizar_registro" value="&nbsp;" class="usar-razon-social" />';
		id_ant=id;					
	}
</script>