<script>
	var id_ant=0;
	function cambia_boton(id){				
		if(document.getElementById(id_ant)){
			document.getElementById(id_ant).innerHTML='';
			document.getElementById('div'+id_ant).className='radio_no_selected';
			document.getElementById('radio'+id_ant).checked='';  									 			
		}				
		document.getElementById(id).innerHTML='<input type="submit" name="utilizar_registro" value="&nbsp;" class="usar-razon-social" />';
		document.getElementById('div'+id).className='radio_selected';
		document.getElementById('radio'+id).checked='checked';	
				
		id_ant=id;					
	}
</script>	
	<form id="form_direccion_facturacion" action="<?php echo site_url('orden_compra'); ?>/" method="POST">
		<table cellpadding="0" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th class="doble-linea">
						Raz&oacute;n Social
					</th>
					<th class="doble-linea">
						RFC
					</th>
					<th class="doble-linea">
						Correo Electronico <br />de envio						
					</th>					
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody class="contenedor-gris">
			<?php							
				if (isset($lista_direcciones)) {								
					foreach($lista_direcciones as $direccion) {	
						$check = "";
						$class = "";
						$classsi = "class='radio_no_selected'";
						$value_r = "value='".$direccion->id_razonSocialIn."'";
						if ($direccion->id_estatusSi==3){	//$default
							$check = "checked='true'";
							$classsi = "class='radio_selected'";																			
							$class="<br /><span style='color: #D81830; height: 20px; font-size: 11px; font-family: italic'>pago express</span>";
						}												
			?>
				<tr>
					<td>
						<input type="radio" id="radio<?php echo $direccion->id_razonSocialIn; ?>" name="razon_social_seleccionada" <?php echo $check." ".$value_r;?>/>
						<div id="div<?php echo $direccion->id_razonSocialIn; ?>" <?php echo $classsi;?> onclick="cambia_boton(<?php echo $direccion->id_razonSocialIn; ?>)">&nbsp;					
						</div>						
					</td>
					<td class="item-lista borde-derecho tam15">						
						<?php echo $direccion->company; ?>	
						<?php echo $class;?>										
					</td>
					<td class="item-lista borde-derecho">
						<?php echo "&nbsp;".$direccion->tax_id_number; ?>	
					</td>
					<td class="item-lista borde-derecho"><?php echo $direccion->email;?></td>					
					<td class="item-lista borde-derecho">
						<a href="<?php echo $this->config->item('base_url').'/index.php/direccion_facturacion/editar_rs/'.$direccion->id_razonSocialIn; ?>" title="editar">editar</a>
						<a href="<?php echo $this->config->item('base_url').'/index.php/direccion_facturacion/eliminar_rs/'.$direccion->id_razonSocialIn; ?>" title="eliminar">eliminar</a>
					</td>
					<td align="center" id="<?php echo $direccion->id_razonSocialIn ?>">												
						<?php 
						if ($direccion->id_estatusSi==3){
							echo '<script>cambia_boton('.$direccion->id_razonSocialIn.')</script>';
						}
						?>						
					</td>
				</tr>																								
							
			<?php 					
				}				
			} else {
				$hay_direcciones = false;	
			?>
				<tr>
					<td colspan="6" class="instrucciones">
						<p>							
							A&uacute;n no tienes raz&oacute;n social asociada.							
						</p>						
					</td>
				</tr>
			<?php				
			?>			
			<?php 
			}
			?>				
			</tbody>	
			<tfoot class="contenedor-gris">
				<tr>
					<td colspan="7" class="borde-top">
						<div id="div_enlace">
							<a class="agregar_direccion" href="<?php echo site_url('direccion_facturacion/registrar_rs/nueva'); ?>">
								<span class="agregar">&nbsp;</span>
								<span class="texto_agregar">Agregar nueva raz&oacute;n social</span>
							</a>
						</div>
					</td>
				</tr>
			</tfoot>		
		</table>									
	</form>
	
	