<div id="tc_amex">
	<h1>American Express</h1>
	
	<div id="body">
		<form id="form_tc_amex" action="<?php echo $this->config->item('base_url').'/index.php'; ?>/forma_pago/registrar/amex" method="POST">
			<div class="item_requerid">N&uacute;mero de tarjeta:</div>
			<div class="form_requerid">
				<input type="text" name="txt_numeroTarjeta" id="txt_numeroTarjeta" maxlength="16"
					value="<?php if(isset($_POST['txt_numeroTarjeta'])) echo htmlspecialchars($_POST['txt_numeroTarjeta']);?>"/>
				<span class="validation_message"><?php if(isset($reg_errores['txt_numeroTarjeta'])) echo ($reg_errores['txt_numeroTarjeta']);?></span>
			</div>
			<div class="item_requerid">Nombre del Titular:</div>
			<div class="form_requerid">
				<input type="text" name="txt_nombre" id="txt_nombre" 
					value="<?php if(isset($_POST['txt_nombre'])) echo htmlspecialchars($_POST['txt_nombre']);?>"/>
				<span class="validation_message"><?php if(isset($reg_errores['txt_nombre'])) echo ($reg_errores['txt_nombre']);?></span>
			</div>
			<div class="item_requerid">Apellido Paterno:</div>
			<div class="form_requerid">
				<input type="text" name="txt_apellidoPaterno" id="txt_apellidoPaterno" 
					value="<?php if(isset($_POST['txt_apellidoPaterno'])) echo htmlspecialchars($_POST['txt_apellidoPaterno']);?>"/>
				<span class="validation_message"><?php if(isset($reg_errores['txt_apellidoPaterno'])) echo ($reg_errores['txt_apellidoPaterno']);?></span>
			</div>
			<div class="item_requerid">Apellido Materno:</div>
			<div class="form_requerid">
				<input type="text" name="txt_apellidoMaterno" id="txt_apellidoMaterno" 
					value="<?php if(isset($_POST['txt_apellidoMaterno'])) echo htmlspecialchars($_POST['txt_apellidoMaterno']);?>"/>
				<span class="validation_message"><?php if(isset($reg_errores['txt_apellidoMaterno'])) echo ($reg_errores['txt_apellidoMaterno']);?></span>
			</div>
			<div class="item_requerid">C&oacute;digo de seguridad:</div>
			<div class="form_requerid">
				<input type="text" name="txt_codigoSeguridad" id="txt_codigoSeguridad" maxlength="4" size="4"
					value="<?php if(isset($_POST['txt_codigoSeguridad'])) echo htmlspecialchars($_POST['txt_codigoSeguridad']);?>"/>
				<span class="validation_message"><?php if(isset($reg_errores['txt_codigoSeguridad'])) echo ($reg_errores['txt_codigoSeguridad']);?></span>
			</div>
			<div class="item_requerid">Fecha de expiraci&oacute;n:</div>
			<div class="form_requerid">
				<select id="sel_mes_expira" name="sel_mes_expira">
					<option value="01">Enero</option>
					<option value="02">Ferbero</option>
					<option value="03">Marzo</option>
					<option value="04">Abril</option>
					<option value="05">Mayo</option>
					<option value="06">Junio</option>
					<option value="07">Julio</option>
					<option value="08">Agosto</option>
					<option value="09">Septiembre</option>
					<option value="10">Octubre</option>
					<option value="11">Noviembre</option>
					<option value="12">Diciembre</option>
				</select>
				<select id="sel_anio_expira" name="sel_anio_expira">
					<option value="12">2012</option>
					<option value="13">2013</option>
					<option value="14">2014</option>
					<option value="15">2015</option>
					<option value="16">2016</option>
					<option value="17">2017</option>
					<option value="18">2018</option>
				</select>
				
				<span class="validation_message"><?php if(isset($reg_errores['fecha_error'])) echo ($reg_errores['fecha_error']);?></span>
			</div>
			
			<div class="item_requerid">Calle y n&uacute;mero:</div>
			<div class="form_requerid">
				<input type="text" name="txt_calle" id="txt_calle" size="60"
					value="<?php if(isset($_POST['txt_calle'])) echo htmlspecialchars($_POST['txt_calle']);?>"/>
				<span class="validation_message"><?php if(isset($reg_errores['txt_calle'])) echo ($reg_errores['txt_calle']);?></span>
			</div>
			<div class="item_requerid">C&oacute;digo postal:</div>
			<div class="form_requerid">
				<input type="text" name="txt_cp" id="txt_cp" maxlength="5" size="5"
					value="<?php if(isset($_POST['txt_cp'])) echo htmlspecialchars($_POST['txt_cp']);?>"/>
					<!--span><input type="submit" id="enviar" value="Llenar"/></span-->
				<span class="validation_message"><?php if(isset($reg_errores['txt_cp'])) echo ($reg_errores['txt_cp']);?></span>
				<!--div>
					<small>Ingresa tu c&oacute;digo postay y presiona "llenar" para acompletar los datos de Colonia, Ciudad y Estado</small></div-->
			</div>
			<!--div class="item_requerid">Colonia:</div>
			<div class="form_requerid">
				<input type="text" name="txt_colonia" id="txt_colonia" size="30"
					value="<?php if(isset($_POST['txt_colonia'])) echo htmlspecialchars($_POST['txt_colonia']);?>"/>
				<span class="validation_message"><?php if(isset($reg_errores['txt_colonia'])) echo ($reg_errores['txt_colonia']);?></span>
			</div-->
			<div class="item_requerid">Ciudad:</div>
			<div class="form_requerid">
				<input type="text" name="txt_ciudad" id="txt_ciudad" size="30"
					value="<?php if(isset($_POST['txt_ciudad'])) echo htmlspecialchars($_POST['txt_ciudad']);?>"/>
				<span class="validation_message"><?php if(isset($reg_errores['txt_ciudad'])) echo ($reg_errores['txt_ciudad']);?></span>
			</div>
			<div class="item_requerid">Estado:</div>
			<div class="form_requerid">
				<input type="text" name="txt_estado" id="txt_estado" size="30"
					value="<?php if(isset($_POST['txt_estado'])) echo htmlspecialchars($_POST['txt_estado']);?>"/>
				<span class="validation_message"><?php if(isset($reg_errores['txt_estado'])) echo ($reg_errores['txt_estado']);?></span>
			</div>
			<div class="item_requerid">Pa&iacute;s:</div>
			<div class="form_requerid">
				<input type="text" name="txt_pais" id="txt_pais" size="30"
					value="<?php if(isset($_POST['txt_pais'])) echo htmlspecialchars($_POST['txt_pais']);?>"/>
				<span class="validation_message"><?php if(isset($reg_errores['txt_pais'])) echo ($reg_errores['txt_pais']);?></span>
			</div>
			<div class="item_requerid">Email:</div>
			<div class="form_requerid">
				<input type="text" name="txt_email" id="txt_email" size="30"
					value="<?php if(isset($_POST['txt_email'])) echo htmlspecialchars($_POST['txt_email']);?>"/>
				<span class="validation_message"><?php if(isset($reg_errores['txt_email'])) echo ($reg_errores['txt_email']);?></span>
			</div>
			<div class="item_requerid">Tel&eacute;fono:</div>
			<div class="form_requerid">
				<input type="text" name="txt_telefono" id="txt_telefono" size="30"
					value="<?php if(isset($_POST['txt_telefono'])) echo htmlspecialchars($_POST['txt_telefono']);?>"/>
				<span class="validation_message"><?php if(isset($reg_errores['txt_telefono'])) echo ($reg_errores['txt_telefono']);?></span>
			</div>
			<div class="item_requerid">&nbsp;</div>
			<div class="form_requerid">
				<input type="checkbox" id="chk_guardar" 
				name="chk_guardar" <?php if(isset($_POST['chk_guardar'])) echo 'checked="true"';?> /> 
				Guardar para compra futuras
			</div>
			<div class="item_requerid">&nbsp;</div>
			<div class="form_requerid">
				<input type="checkbox" id="chk_default" name="chk_default" 
				<?php if(isset($_POST['chk_default'])) echo 'checked="true"';?> />Usar como tarjeta predeterminada
			</div>
			
			<div class="form_button">
				<input type="submit" id="guardar_tarjeta" value="Usar esta tarjeta"/>
			</div>			
		</form>
	</div>
</div>